{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

{% include "jinja2_pages/reusable_components/_narrower_text_css.html" %}

<h1>Comparison of <a href="https://en.wikipedia.org/wiki/Proof_assistant">Proof Assistants</a> for the Physics Derivation Graph</h1>

<P><a href="{{ url_for('to_navigation') }}?referrer=comparison_of_proof_assistants">navigation</a> / 
   <a href="{{ url_for('to_documentation_overview')}}?referrer=comparison_of_proof_assistants">documentation overview</a> / 
   <a href="{{ url_for('to_developer_documentation') }}?referrer=comparison_of_proof_assistants">developer documentation</a> /
   proof assistant comparison

<P>
  <em>Recommendation</em>: Read the
  <a href="{{ url_for('to_user_documentation') }}?referrer=comparison_of_proof_assistants">user documentation</a>
  and <a href="{{ url_for('to_faq') }}?referrer=comparison_of_proof_assistants">FAQ</a> first.
  This page assumes familiarity with the 
  <a href="{{ url_for('to_conventions_documentation') }}?referrer=comparison_of_proof_assistants">jargon</a> used in the Physics Derivation Graph.
</P>



<H2 id="Lean">Lean</H2>

<H2 id="HOLLight">HOL Light theorem prover</H2>

<P><a href="https://www.cl.cam.ac.uk/~jrh13/hol-light/tutorial.pdf">HOL Light tutorial</a>

<H2>Isabelle</H2>

{% endblock %}
