{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

{% include "jinja2_pages/reusable_components/_narrower_text_css.html" %}

<H1>Frequently Asked Questions (FAQ) About the Physics Derivation Graph</H1>

<P><a href="{{ url_for('to_navigation') }}?referrer=faq">navigation</a> / 
   <a href="{{ url_for('to_documentation_overview')}}?referrer=faq">documentation overview</a> / 
   Frequently Asked Questions (FAQ)

<HR/> <!-- ************************************************** -->
<P>
  <a name="status of project ">
    <em>What is the status of the project?</em>
  </a><a href="#status of project ">#</a>
<P>As of January 2026, a single developer is actively contributing to the project in his spare time. 
A <a href="https://github.com/orgs/allofphysicsgraph/people">few collaborators</a> have previously contributed.</P>


<HR/> <!-- ************************************************** -->
<P>
  <a name="hilbert's sixth problem">
    <em>How is the Physics Derivation Graph related to <a href="https://en.wikipedia.org/wiki/Hilbert%27s_sixth_problem">Hilbert's Sixth Problem</a>?</em>
  </a><a href="#hilbert's sixth problem">#</a>
<P>Hilbert's Sixth Problem is
  <blockquote>
    "To treat in the same manner, by means of axioms, those physical sciences in which already today mathematics plays an important part; in the first rank are the theory of probabilities and mechanics."
  </blockquote>
<P>The Physics Derivation Graph is adjacent to, but not as ambitious as, Hilbert's Sixth Problem. Adjacent to Hilbert's Sixth Problem because the scope is comprehensive documentation of the inference rules. PDG does not aim to solve Hilbert's Sixth problem; the PDG is a framework in which to make progress towards that goal. The Physics Derivation Graph is not as ambitious because PDG doesn't seek to discover new mathematical physics. PDG is descriptive rather than creating new bridges in physics.

<P>The Physics Derivation Graph does not have the explicit goal of proving physics. Where a CAS or proof assistant can be leveraged they will be, but lack of proof does not constitute failure of the project. (For contrast, see <a href="">other projects</a> like <a href="https://assumptionsofphysics.org/">Assumptions of Physics</a> or <a href="https://physlean.com/">Physlean</a>.)

<P>Solving, or even attempting to solve, Hilbert's Sixth Problem is ambitious. Whether the inference rules would qualify as axioms is not clear to the developer of the Physics Derivation Graph. Writing down all of mathematical physics is the primary goal of the Physics Derivation Graph, and the fact that some of the steps can be proven in Lean is an accidental benefit. The use of a Computer Algebra System (CAS) like SymPy and a proof assistant like Lean are secondary in the Physics Derivation Graph because the author does not expect every inference rule to be amenable to rigorous validation.

<P>See <a href="{{ url_for('to_document_hilbert_sixth') }}?referrer=faq">more on Hilbert's Sixth Problem and the Physics Derivation Graph</a>.

<HR/> <!-- ************************************************** -->

<P><a name="relation to formalism">
  <em>What is the relation to Formalism?</em>
</a><a href="#relation to formalism">#</a>

<P><a href="https://en.wikipedia.org/wiki/Formalism_(philosophy_of_mathematics)">Wikipedia defines formalism</a> as
  <blockquote>"formalism is the view that holds that statements of mathematics and logic can be considered to be statements about the consequences of the manipulation of strings (alphanumeric sequences of symbols, usually as equations) using established <a href="https://en.wikipedia.org/wiki/Rule_of_inference">manipulation rules</a>."</blockquote>

<P>That is consistent with the Physics Derivation Graph.

<HR/> <!-- ************************************************** -->
<P>
  <a name="durability of project ">
    <em>What is the durability of the project?</em>
  </a><a href="#durability of project ">#</a>
<P>  Many projects in knowledge management of science last as long as a grant or are created in support of a publication.
  The Physics Derivation Graph is intended to last for years. This influences design decisions.

<P>Financial sustainability is a key consideration. 
  The Physics Derivation Graph is hosted on Hetzner using a single droplet at a cost of $48/year.
  The lease on the domain name through SquareSpace is $12/year and renews annually. Paid through 2030.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="login">
    <em>Why is a login required for some links and actions?</em>
  </a><a href="#login">#</a>
<P>  Static content is displayed for and accessible to anyone.
  The ability to change the graph content requires a user to be signed in to prevent defacement and to track who contributed what in case a rollback is needed.
  <P>
    <center>
      <img src="{{ url_for('static', filename='google-login-2.png')}}" width="200">
    </center>
</P>

<HR/> <!-- ************************************************** -->

<P>
  <a name="making predictions">
    <em>Can the Physics Derivation Graph make predictions?</em>
  </a><a href="#making predictions">#</a>
<P>The PDG documents the atomic steps of derivations. The PDF does not explain why the specific sequence of steps was taken rather than an alternative path (using different inference rules, or the same inference rules in a different order). As a consequence of no obvious causality, the PDG framework has no predictive capability when presented with a novel derivation.
</P>

<P>What's missing? The model that relates concepts and is the basis for making assumptions and expressions. A model underlies classical physics, and the model is the basis for expectations for what should happen as described by expressions. 

<HR/> <!-- ************************************************** -->

<P>
  <a name="atomic steps">
    <em>Does the Physics Derivation Graph need to be explicit for steps that seem obvious?</em> 
  </a><a href="#atomic steps">#</a>
<P>Breaking derivations into steps helps the reader understand the assumptions and techniques necessary for the transformation.

  <P>The choice of basis set for inference rules is an aesthetic choice and is motivated by the use of a Computer Algebra System (CAS).

  <P>For example, should the inference rule be "add X to both sides" where X is positive or negative, or should there be an inference rule like "subtract X from both sides"?

  <P>Complicated inference rules may not be amenable for a specific Computer Algebra System (CAS), so decomposing the step into additional simpler inference rules may be required.

</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="graph queries">
    <em>What graph queries are relevant to the Physics Derivation Graph?</em>
  </a><a href="#graph queries">#</a>
  <P>The page <a href="{{ url_for('to_query') }}">for PDG queries</a> supports both user-defined queries and queries like</P>
  <UL>
    <LI>Number of degrees of separation</LI>
    <LI>Minimum distance between two expressions</LI>
  </UL>
<P>See also <a href="https://github.com/allofphysicsgraph/ui_v8_website_flask_neo4j/issues/55">https://github.com/allofphysicsgraph/ui_v8_website_flask_neo4j/issues/55</a>

</P>
<HR/> <!-- ************************************************** -->
<P>
  <a name="database from site to repo">
    <em>What are alternative paradigms that yield the same artifacts?</em>
  </a><a href="#database from site to repo">#</a>
<P>These descriptions of the project are equivalent:
<UL>
  <LI>Computer-assisted derivations</LI>
  <LI>Knowledge exploration for Mathematical Physics</LI>
  <LI>Formalization of Mathematical Physics</LI>
  <LI>Structured derivations</LI>
  <LI>Self-consistent derivation representations</LI>
  <LI>an art project with no audience</LI>
  <LI>Ionian Enchantment with Physics</LI>
</UL>
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="database from site to repo">
    <em>How does data entered into the site get to the Physics Derivation Graph github repo?</em>
  </a><a href="#database from site to repo">#</a>
<P>  Content entered through the web interface updates a Neo4j database on the Hetzner virtual private server.
  The project owner manually uploads code from that server to the github
  repo for it to become part of the "official" source code.

<P>  Alternatively, a person could enter their derivation, download the
  Cypher file, and submit a pull request to the repo.

<HR/> <!-- ************************************************** -->
<P>
  <a name="who is audience">
  <em>Who is the audience for the Physics Derivation Graph?</em>
  </a><a href="#who is audience">#</a>
  <P>
  In education context, <a href="{{ url_for('to_student_documentation') }}">students</a> and
  <a href="{{ url_for('to_instructor_documentation') }}">instructors</a>.
  In the context of scientific research, 
  <a href="{{ url_for('to_researcher_documentation') }}">authors</a> documenting scientific progress in journal articles.
  
  <P>See <a href="#use cases">Use cases</a>.

  <center>
    <img src="{{ url_for('static', filename='teacher_and_students.jpg') }}">
    <!-- source: https://www.bls.gov/ooh/education-training-and-library/high-school-teachers.htm#tab-2 -->
  </center>

</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="use cases">
    <em>What are the use cases for the Physics Derivation Graph?</em>
  </a><a href="#use cases">#</a>

<P>See also <a href="https://github.com/allofphysicsgraph/task-tracker/issues/28">https://github.com/allofphysicsgraph/task-tracker/issues/28</a>

  <div align="center">
  <table border=1>
  <tr>
    <th>use case</th>
    <th>who does the work?</th>
    <th>who benefits?</th>
    <th>pure Latex is sufficient?</th>
    <th>incentive</th>
  </tr>
  <tr>
    <td>show interconnectivity of expressions</td>
    <td>project owner</td>
    <td>students</td>
    <td>yes</td>
    <td>share the beauty of mathematical Physics</td>
  </tr>
  <tr>
    <td>use PDG for derivation in paper appendix</td>
    <td>paper author</td>
    <td>paper readers</td>
    <td>yes</td>
    <td>explicitly show steps for easier digestion by readers</td>
  </tr>
  <tr>
    <td>validate homework derivation</td>
    <td>student</td>
    <td>student; teacher</td>
    <td>no; CAS required</td>
    <td>correctness of derivation</td>
  </tr>
  <tr>
    <td>informing curriculum design</td>
    <td>teacher</td>
    <td>student; teacher</td>
    <td>yes</td>
    <td>align content of courses with relevance to application</td>
  </tr>
  <tr>
    <td>validate novel derivation</td>
    <td>researcher</td>
    <td>researcher</td>
    <td>no; CAS required</td>
    <td>correctness of derivation</td>
  </tr>
  <tr>
    <td>database for training machine learning algorithms, LLMs</td>
    <td>project owner</td>
    <td>LLM users?</td>
    <td>no</td>
    <td>LLMs more likely to be correct when trained using valid inputs</td>
  </tr>
</table>
</div>
<P>Enabling these use cases involves a significant amounts of burdensome data entry and learning what inference rules exist and improvements to the interface for the Physics Derivation Graph.


<P>If research grants do not require validation of math, then researchers are not motivated to invest.
   If promotion in academia does not depend on validation of math, then professors are not motivated to invest.
   If publishing research does not require validation of math, then authors are not motivated to invest.
   If students doing homework can get by without being correct, then students are not motivated to invest.

<P>
The Physics Derivation Graph is expected to be useful to multiple audiences. 
Viewers of the content include students in math and physics. Contributors to the
Physics Derivation Graph would be scientists who add new developments based
on their work, or enthusiasts who convert published scientific literature
into the Physics Derivation Graph database.
</P>

<P>
  The entrypoint for each of the use cases is
  <a href="{{ url_for('to_navigation') }}?referrer=user_documentation">the navigation page</a>,
  from which steps, expressions, symbols, operators, and inference rules can be viewed.
</P>


<P>
  <a name="audience:researchers">Stakeholders for use of PDG in scientific literature</a> (<a href="#audience:researchers">#</a>):
  <UL>
    <LI>Authors. <em>Incentive</em>: validate content to identify mistakes.</LI>
    <LI>Peer reviewers. <em>Incentive</em>: confidence that the material is mathematically correct.</LI>
    <LI>Editors. <em>Incentive</em>: filter out incorrect papers early in the process.</LI>
    <LI>Readers. <em>Incentive</em>: ability to reproduce and extend results.</LI>
    <LI>Publishers. <em>Incentive</em>: construct a corpus of results that builds on prior work.</LI>
  </UL>
</P>



<P>Each of the users (e.g., students, instructors, researchers) have one or more roles (e.g., viewer, editor, developer, contributor).  See the <a href="{{ url_for('to_developer_documentation') }}?referrer=faq#roles">Developer Documentation</a>.

<HR/> <!-- ************************************************** -->
<P>
  <a name="central registration">
<em>Could the Physics Derivation Graph serve as a central registration for symbols and expressions?</em>
</a><a href="#central registration">#</a>
<P>Yes! 
<P>
  As two successful examples of central registration and tracking used in Science, consider the <a href="https://en.wikipedia.org/wiki/ORCID">ORCID</a> system for authors and <a href="https://en.wikipedia.org/wiki/Digital_object_identifier">DOI</a>s for articles.
  Both of these examples seem to have originated with publishers.
<P>
<!-- as of 2026-02-01, no longer online
  <a href="http://sciencewise.info/">ScienceWise</a> is available for tracking of scientific words and phrases.
-->

<HR/> <!-- ************************************************** -->
<P>
  <a name="how to contribute">
    <em>How to contribute to the Physics Derivation Graph?</em>
  </a><a href="#how to contribute">#</a>
  <UL>
    <LI>If you are a physicist, mathematician, or logician of any type, <a href="#contact">feedback</a> would be useful.</LI>
    <LI>If you are a student, <a href="https://github.com/allofphysicsgraph/ui_v8_website_flask_neo4j/issues/new">let us know what features you would find useful</a>.</LI>
    <LI>If you have derivations to add, you will need to <a href="{{ url_for('to_login') }}?referrer=faq">log in</a>.</LI>
    <LI>If you are a researcher in another field (biology, computer science, chemistry, linguistics, etc), do you think this approach applies to your field? <a href="#contact">Let us know</a>!</LI>
    <LI>If you are a programmer and would like to review the code, comments are welcome. See the <a href="https://github.com/allofphysicsgraph/ui_v8_website_flask_neo4j/blob/gh-pages/CONTRIBUTING.md">guide for contributing</a>.
      Pulls and merges are also possible.
      Feel free to create a fork.</LI>
  </UL>
</P>



<HR/> <!-- ************************************************** -->
<P>
  <a name="contact">
    <em>How to contact the project owner?</em>
  </a><a href="#contact">#</a>
  <P>
  Email is the best method: ben.is.located AT gmail.com
</P>
<P>
  Also, there is a <a href="https://app.gitter.im/#/room/#allofphysicsgraph_Lobby:gitter.im">gitter channel</a> available for developers.
</P>
<P>
  The <a href="https://groups.google.com/g/physics-derivation-graph">PDG Google Group</a> is for
  community announcements,
      updates,
      summaries of status,
     documenting strategic decisions, and
     questions from users.

<HR/> <!-- ************************************************** -->
  <a name="define inference rule">
  <P><em>What is an inference rule?</em>
  </a><a href="#define inference rule">#</a>
  <P>
  An inference rule is the atomic step of logic that relates two mathematical expressions. See the full explanation <a href="{{ url_for('to_user_documentation') }}?referrer=faq#inference rules">in the documentation</a>.
<P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="generate output from inference rule">
    <em>Why does the user provide the input expressions, inference rule, and outputs? Why not generate the output from the inputs + inference rule?</em>
  </a><a href="#generate output from inference rule">#</a>
  <P>
    In principle this is feasible in the Physics Derivation Graph. 
    With the user providing the input expressions and inference rules (plus any needed arguments), the outputs are deterministic.
    For example, starting with the expression
    \begin{equation}
a = b
\end{equation}
the user instructs the software to apply the inference rule "multiply both sides by x" where \(x=2\).
Then the software produces the output
\begin{equation}
2 a = 2 b
\end{equation}
The constraint is that the Computer Algebra System used in the PDG (SymPy) is not capable of handling all inference rules or all expressions.
Currently in the Physics Derivation Graph the user provides Latex, which gets converted (with help from the user) to SymPy.
SymPy may eventually have the capability of deterministically applying inference rules.
That would require investment in the Latex parser and Physics libraries.


<HR/> <!-- ************************************************** -->
<P>
  <a name="knowledge management">
    <em>Is the Physics Derivation Graph just knowledge management?</em>
  </a><a href="#knowledge management">#</a>
  <P>
  Yes. With some rigor to verify edges in the graph.

  <P>There have been similar efforts in <a href="https://en.wikipedia.org/wiki/Mathematical_knowledge_management">Mathematical Knowledge Management</a>.

<HR/> <!-- ************************************************** -->
<P>
  <a name="semantics">
    <em>What previous discussions of semantics in Physics exist?</em>
  </a><a href="#semantics">#</a>
  <P>
  A clear description of the issue of semantics in Physics expressions is presented in <a href="https://arxiv.org/abs/1002.0472">Making Meaning with Math in Physics: A semantic analysis</a> and <a href="https://arxiv.org/abs/1409.6272">Language of physics, language of math: Disciplinary culture and dynamic epistemology</a>.
<P>
  The Physics Derivation Graph is enabled by semantic decoration of symbols and expressions.
  The implementation uses Sympy as a Computer Algebra System and extensive numeric indices for symbols, expressions, and steps.
</P>


<HR/> <!-- ************************************************** -->
<P>
  <a name="grandiose">
    <em>Why would the Physics Derivation Graph succeed where other projects have stagnated?</em>
  </a><a href="#grandiose">#</a>
  <P>
  This question is motivated by the essay <a href="https://people.eecs.berkeley.edu/~fateman/papers/openmathcrit.pdf">"A Critique of OpenMath and Thoughts on Encoding Mathematics"</a> (2001) since the Physics Derivation Graph is similar to <a href="ftp://ftp.mcs.anl.gov/pub/qed/manifesto">the QED manifesto</a>.

  <P>Rather than struggle to fit everything into a formal rigorous basis, the implementation for the Physics Derivation Graph uses Latex to encode math. Some expressions are represented using SymPy, with the hope that the Latex and SymPy refer to the same concepts.

  <P>By focusing on specific and practical demonstrations, the Physics Derivation Graph will provide value to instructors, students, and researchers.

<HR/> <!-- ************************************************** -->
<P>
  <a name="grammar">
    <em>What previous discussions of the grammar of Physics exists?</em>
  </a><a href="#grammar">#</a>
  <P>
  <a href="https://aapt.scitation.org/doi/10.1119/1.2342981">The grammar of physics</a> by P. R. Subramanian, B. Gnanapragasam, and G. Janhavi <BR/>
     published in The Physics Teacher 28, 174 (1990); https://doi.org/10.1119/1.2342981. The focus seems to be on dimensional analysis.

<P>
There are also Science Ontologies like <a href="http://sciencewise.info/">sciencewise.info</a>

<HR/> <!-- ************************************************** -->
<P>
  <a name="domains">
    <em>What domains does the Physics Derivation Graph cover?</em>
  </a><a href="#domains">#</a>
    <UL>
      <LI>classical mechanics of a finite number of particles, as
    used in celestial mechanics.
      <LI>Relativity
      <LI>quantum mechanics of a finite number of particles, as
    used in atomic physics.
      <LI>quantum electrodynamics, a quantum field theory.
      <LI>Yang-Mills theory, the basis of the Standard Model.
      <LI>String/M theory, a candidate fundamental theory which
    unifies Yang-Mills and quantum gravity
    </UL>
    <P><a href="https://www.icms.org.uk/downloads/bigproof/Douglas.pdf">source</a>: "Physics and Formal Methods" by Douglas (2019)
</P>
<HR/> <!-- ************************************************** -->
<P>
  <a name="syntax">
    <em>What previous discussion of the syntax of Physics exists?</em>
  </a><a href="#syntax">#</a>
  <P>
  "syntax specifies exactly what should be allowed with regard to the formation of character strings." (<a href="https://philphys.hypotheses.org/category/syntax">source</a>)

<HR/> <!-- ************************************************** -->
<P>
  <a name="proofs">
<em>What is the role of proofs in the Physics Derivation Graph?</em>
</a><a href="#proofs">#</a>
<P>
  The Physics Derivation Graph does not prove anything; it merely documents the mathematical manipulations applied in Physics.
  In this project a derivation is used to denote relations between statements that relate objective measurements of reality.
  For more on this issue, see <a href="https://math.stackexchange.com/a/2637338">this answer</a>.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="axioms">
<em>Could the Physics Derivation Graph reduce Physics to axioms?</em>
</a><a href="#axioms">#</a>
<P>
  Relating the inference rules used in the Physics Derivation Graph to <a href="https://en.wikipedia.org/wiki/Zermelo%E2%80%93Fraenkel_set_theory">set theory</a> or logical rules (e.g., <a href="https://en.wikipedia.org/wiki/Modus_ponens">modus ponens</a> and axioms may be possible, but that is not in the current scope for the project.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="computational graphs">
    <em>How is the Physics Derivation Graph related to Computational Graphs in deep learning?</em>
  </a><a href="#computational graphs">#</a>
<P>There is no relation between the inference rules and expressions present in the Physics Derivation Graph and <a href="https://colah.github.io/posts/2015-08-Backprop/">computational graphs used in deep learning</a>.

</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="validity of content">
  <em>Does use of the Physics Derivation Graph and verification of steps in a derivation mean that the content is valid?</em>
  </a><a href="#validity of content">#</a>
<P>No. Simply carrying out mathematical manipulations of expressions does not necessarily lead to physically valid outcomes.

<P>TODO: Provide an example

<HR/> <!-- ************************************************** -->
<P>
  <a name="lessons learned">
    <em>What lessons have you learned in implementing the Physics Derivation Graph?</em>
  </a><a href="#lessons learned">#</a>
<P>My observations are specific to the nuances of the
project and my personality.
<UL>
  <LI>There's effort involved in balancing the constant questioning of "am
I doing this right?" with "what's the best way to do this?" and "which
problem should I be solving?" Because I wasn't told what to do or what
tactics to use, I have to have the stamina and confidence to persist
without encouragement or feedback.
  <LI>I'm not afraid to rewrite capabilities once I learn how to better
solve a problem. I've restructured the content through multiple
concepts. Discarding old code is a way of evolving.
  <LI>I am very hesitant to use the latest frameworks or languages if I
expect they won't last as long as the project is intended to. I favor
durability over convenience or agility.
  <LI>Refactoring is driven by learning
something new in programming or I have a new insight on the problem.
Both of these are unpredictable, so I have to be willing to invest in
code development that is likely to be discarded.
  <LI>Keeping a log (https://physicsderivationgraph.blogspot.com/) has
been immensely valuable because I can monitor my progress and track
decisions. I can revisit my justifications to see whether they are
still valid.
  </UL>
</P>


<HR/> <!-- ************************************************** -->
<P>
  <a name="from scratch">
  <em>If you were starting from scratch, what would you have wished you had done differently?</em>
  </a><a href="#from scratch">#</a>
<P>Knowing what the requirements of the data structure up front would
have reduced the time wasted with inadequate data structures.
<P>
Better understanding where the Physics Derivation Graph fits with
respect to semantics and formal proofs would have helped with finding
relevant communities of practitioners.
The Physics Derivation Graph fits with neither semantics nor proof
assistants, but somewhere in between. PDG clearly
relates to mathematical proofs; not clear how PDG relates to
semantic tagging and structures.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="indices">
    <em>What's the purpose of the many numerical indices associated with the expressions and inference rules?</em>
  </a><a href="#indices">#</a>

  <P>
Each expression index is a <a href="https://en.wikipedia.org/wiki/G%C3%B6del_numbering">Godel number</a>.
This is a way of uniquely identifying each component in the graph.
Separate from that, a unique identifier is also need for inference rules to distinguish the use in different steps.
<P>
  <center>
    <img src="{{ url_for('static', filename='frequency_and_period_exploded_steps.png')}}">
  </center>
<HR/> <!-- ************************************************** -->
<P>
  <a name="research">
    <em>Is the Physics Derivation Graph research?</em>
  </a><a href="#research">#</a>

<P>  No new research in math or physics is needed to validate these claims.
  This project documents the relations between derivations used to describe physical experiments.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="algorithms">
    <em>Are there novel algorithms used in the Physics Derivation Graph?</em>
  </a><a href="#algorithms">#</a>
  <P>
  There are no new algorithms.
  The Physics Derivation Graph is about documenting existing knowledge.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="pictures">
    <em>How does the Physics Derivation Graph handle non-algebraic arguments?</em>
  </a><a href="#pictures">#</a>
  <P>
  The Physics Derivation Graph does not include geometric arguments.<BR>
  See <a href="{{ url_for('to_design_documentation') }}?referrer=documentation_overview#not%20in%20scope">Design Choices: not in scope</a>
</p>

<P>
  The Physics Derivation Graph is similar to a <a href="https://en.wikipedia.org/wiki/Schaum%27s_Outlines">Schuam's outline</a>, except it is intended to cover all known Physics and documents the relations between various governing expressions.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="not good at">
<em>What is the Physics Derivation Graph not good at?</em>
</a><a href="#not good at">#</a>
  <UL>
    <LI>Contextualizing mathematical Physics with pictures and explanations.</LI>
    <LI>Navigating large and complex derivations (due to limitations of displaying complicated content in web browsers).</LI>
    <LI>Exam problems and homework problems. These typically start as written descriptions of a physical scenario with quantitative aspects, relying on the reader to determine relevant expressions. Exam and homework problems and terminate in numerical calculations.</LI>
  </UL>
</P>
<P>See <a href="{{ url_for('to_design_documentation') }}?referrer=documentation_overview#not%20in%20scope">Design Choices: not in scope</a>

<HR/> <!-- ************************************************** -->
<P>
  <a name="symbols">
    <em>Does the Physics Derivation Graph require that all users agree on the same notation?</em>
  </a><a href="#symbols">#</a>
  <P>
      No. A Latex symbol used in a derivation can be used anywhere else in the Physics Derivation Graph because numeric IDs are used to track the concept.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="derivations">
    <em>Are derivations in the Physics Derivation Graph representations?</em>
  <a><a href="#derivations">#</a>
<P>  
      No. A step can be replaced by equivalent sequences of inference rules.
      Various permutations of equivalent steps may be more or less efficient (in terms of number of steps), and more or less abstract conceptually.

<HR/> <!-- ************************************************** -->
<p>
  <a name="automation">
    <em>What is the role of automation in the Physics Derivation Graph?</em>
  </a><a href="#automation">#</a>
  <P>
  There are no automatic mechanisms for generating new derivations.
  There is some automation used in detecting symbols in a step or derivation.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="trivial graph">
    <em>Don't Physics expressions share variables since they refer to the same reality?</em>
  </a><a href="#trivial graph">#</a>
  <P>
  Yes, a graph could be constructed that relies merely on variables that are common to expressions rather than derivations between expressions.
  Conceptually, the view would be <BR/>
    <center>
      <img src="{{ url_for('static', filename='conceptual_physics_graph_expressions_linked_by_variables.svg')}}">
    </center>
  <P>More specifically, the Physics Graph would look like
    <center>
      <img src="{{ url_for('static', filename='conceptual_physics_graph_actual_expressions_linked_by_variables.svg')}}">
    </center>
  <P>This graph would be easy to construct -- merely include all expressions from Physics and appropriately link variable definitions for each expression.
  This graph would be interesting but not provide as much insight as a derivation-based graph.

<HR/> <!-- ************************************************** -->
<P>
  <a name="objectives">
<em>What are the objectives for the Physics Derivation Graph?</em>
</a><a href="#objectives">#</a>

<P>
  Validate the claim that derivations used in Physics are mathematical expressions linked by a finite set of inference rules.

<P>
  <!--
  The purpose of this project is to test the claim that a finite static graph exists which relates all expressions of mathematical physics.
  In this graph, nodes are expressions and edges are inference rules.
-->

  Expressions are typically placed in a topic within Physics. Conceptually, this would look like <BR/>
    <center>
  <img src="{{ url_for('static', filename='conceptual_physics_graph_expressions_linked_by_derivation.svg')}}">
    </center>
<P>
  A second claim to be tested is that a finite number of unique inference rules are needed to express the relations between expressions.



<HR/> <!-- ************************************************** -->
<P>
  <a name="UI other than web">
<em>Is there an alternative to the web interface for adding content?</em>
</a><a href="#UI other than web">#</a>
<P>

  There previously was a command-line prompt written in Python that facilitated content entry.
<P>
  Investment in a command-line input tool was stopped and focus was shifted to an
web-based input. Displaying Latex and viewing a graph of the
content are not well-suited to the command line since those operations
rely on opening a PDF or a PNG or a webpage. Therefore a webpage is used for both input and review.

</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="learn Physics">
<em>Is the Physics Derivation Graph a good way to learn Physics?</em>
</a><a href="#learn Physics">#</a>
<P>
No.  The project is not intended to facilitate education -- it is not a
replacement of textbooks which contain written explanations and pictures.
There is not a plan or expectation that instructors would use the Physics Derivation Graph to convey
knowledge to their students.

<P>
For tips on how to learn Physics,<BR/>
  <em>(begin quote)</em>
  <blockquote>
    <UL>
      <LI> Reading =/= understanding in math and physics. You understand a topic only if you can solve the problems.</LI>
      <LI> Work through the solved problems you encounter in textbooks carefully.</LI>
      <LI> Most people around me have never read any physics textbook cover to cover. E.g. reading Halliday, Resnick & Walker completely might take you years! Not all topics are equally important. Focus on the important parts.</LI>
      <LI> You need guidance on what is important and what is not. Online courses, college material (especially problem sets!), teaching webpages could be a helpful guide. MIT OCW is an excellent resource, once you are ready for it.</LI>
      <LI> Finding someone to talk to is really useful. You will likely have questions. Cultivating some relationship that allows you to ask questions is invaluable.</LI>
      <LI> College courses in math and physics have a very definitive order. It is really difficult to skip any step along the way. E.g. to understand special relativity, you must first understand classical physics and electrodynamics.</LI>
      <LI> Be prepared that the timescales in physics are long. Often, what turns people off is that they do not get things quickly (e.g. in 15-30 minutes). If you find yourself thinking hours about seemingly simple problems, do not despair! That is normal in physics.</LI>
      <LI> You have to 'soak in' physics. It takes time. Initially, you might feel like you do not make a lot of progress, but the more you know, the quicker it will get. Give yourself time and be patient and persistent.</LI>
      <LI> Often, just writing things down helps a lot with making things stick. It is a way of developing 'muscle memory'. So try and take notes while reading. Copying out solved problems from textbooks is also a good technique.</LI>
      <LI> Counterintuitive: If you get completely stuck, move on! Learning often happens in non-linear ways. If you hit an insurmountable roadblock, just keep going. When you return in a few days/weeks, things will almost certainly be clearer.</LI>
    </UL>
  </blockquote>
  <P><em>(end quote)</em><BR/>
source: <a href="https://news.ycombinator.com/item?id=22691009">https://news.ycombinator.com/item?id=22691009</a>
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="crackpot difference">
<em>How could the Physics Derivation Graph be differentiated from the work of a crackpot?</em>
</a><a href="#crackpot difference">#</a>
<P><center>
  <img src="{{ url_for('static', filename='crackpot.jpg')}}">
  </center>
<BR/>
<P>The goal (documenting all known Physics) sounds crackpot-ish. The approach doesn't disallow crackpot statements -- checking derivation steps using a <a href="https://en.wikipedia.org/wiki/Computer_algebra_system">computer algebra system</a> doesn't prevent physically nonsensical conclusions.<BR/>
The purpose of the Physics Derivation Graph is to document known knowledge. No new knowledge is expected.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="crackpot identification">
<em>How could the Physics Derivation Graph be used to identify the work of a crackpot?</em>
</a><a href="#crackpot identification">#</a>
<P>
  If a crackpot is unable to quantitatively characterize their claims and make the assumptions explicit, then their work is less likely to be valid.
</P>


<HR/> <!-- ************************************************** -->
<P>
  <a name="output">
<em>What is the output of the Physics Derivation Graph?</em>
</a><a href="#output">#</a>
<P>
The output is typically a graph visualization or a PDF of the same content in a linear text format.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="visualization">
<em>How can the Physics Derivation Graph be visualized?</em>
</a><a href="#visualization">#</a>
<P>
The graph output can be visualized in a web browser, a static GraphViz output, and other formats.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="validation">
<em>How can the Physics Derivation Graph be checked?</em>
</a><a href="#validation">#</a>
<P>
  A <a href="https://en.wikipedia.org/wiki/Computer_algebra_system">computer algebra system</a> can be used to verify that each inference rule has been applied correctly to input and output expressions.
  Specifically, SymPy is used to validate applications of inference rule.<BR/>
    <center>
    <img src="{{ url_for('static', filename='sympy.svg')}}"  width="200">
    </center>
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="database">
<em>How is the content of the Physics Derivation Graph stored?</em>
</a><a href="#database">#</a>
<P>
The expressions, symbols, and connections are stored Latex in a Neo4j database.
This decision was based on a <a href="{{ url_for('to_developer_documentation')}}?referrer=faq#historical evolution">comparative analysis of other options</a>, including MathML and Mathematica.</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="supported subfields of Physics">
<em>What subfields of Physics is this project capable of including?</em>
</a><a href="#supported subfields of Physics">#</a>
<P>
Anything from <a href="https://en.wikipedia.org/wiki/Classical_mechanics">Classical mechanics</a> to <a href="https://en.wikipedia.org/wiki/Topological_quantum_field_theory">Topological quantum field theory</a> should be capable of being included.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="barriers">
<em>What are the entry barriers to using the Physics Derivation Graph?</em>
</a><a href="#barriers">#</a>
<P>
  <UL>
    <LI>You have to be sighted or have a capability of reading the screen</LI>
    <LI>You are expected to know Latex
    <LI>A computer and web browser are required
  </UL>
</P>



<HR/> <!-- ************************************************** -->
<P>
  <a name="prove Physics">
<em>Can the Physics Derivation Graph be used to prove Physics?</em>
</a><a href="#prove Physics">#</a>
<P>
    No. "Proof" is not a well-defined term in Physics. <BR/>
    From a Stack Exchange <a href="http://physics.stackexchange.com/questions/82493/how-important-is-mathematical-proof-in-physics">answer</a>,
<blockquote>
<P>"Mathematical proofs relate to exactly how a MODEL will behave. They don't have much to do with how the real world behaves. If the mathematics is carried out correctly, then one has 'proven' how the model will behave."
</blockquote>

<P>The motive for experimentation is to find out if the completely fictional MODEL that somebody simply made up, behaves in any way the same, as observations suggest the real world behaves. If it doesn't, that is not an indication of a mathematical error, it simply means the fictional model is not a good description of the real world, and must be changed.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="use in other fields">
<em>Does this approach apply to other fields?</em>
</a><a href="#use in other fields">#</a>
<P>
There is not clear application of the concepts used in the Physics Derivation Graph to other fields (ie chemistry, linguistics, economics, mathematics, etc). <BR/>
The physics derivation graph can handle proving mathematical identities, e.g., Euler's equation, but that wasn't the intent. <BR/>
The difference between a derivation and proving an identity is that when proving an identity, only one side of the equation is manipulated. For a derivation, both sides of the expression are involved.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="comparison">
  <em>How does the Physics Derivation Graph compare with other projects?</em>
</a><a href="#comparison">#</a>
  <P>
  See the <a href="{{ url_for('to_other_projects') }}?referrer=faq">list of other projects</a>.
</P>

<HR/> <!-- ************************************************** -->
<P>
  <a name="collaboration">
  <em>How could my project leverage the Physics Derivation Graph?</em>
</a><a href="#collaboration">#</a>
  <P>
  Collaboration can take the form of using the code to calling the API. <a href="#contact">Contact us</a> for other options.
</P>

{% endblock %}
