{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<h1>Documentation for the Physics Derivation Graph</h1>

<P><a href="{{ url_for('to_navigation') }}">navigation</a> / documentation overview

<H3>By audience</H3>
<UL>
<LI><a href="{{ url_for('to_user_documentation') }}?referrer=documentation_overview">user</a></LI>
<LI><a href="{{ url_for('to_developer_documentation') }}?referrer=documentation_overview">developer</a></LI>
</UL>

<H3>By interface</H3>
<UL>
<LI><a href="{{ url_for('to_api_documentation') }}?referrer=documentation_overview">API</a></LI>
<LI><a href="{{ url_for('to_workflow_documenation') }}?referrer=documentation_overview">workflow for the web UI</a></LI>
</UL>


<H3>More</H3>
<UL>
	<LI><a href="{{ url_for('to_faq') }}?referrer=documentation_overview">FAQ (Frequently Asked Questions)</a></LI>
	<LI><a href="{{ url_for('to_design_documentation') }}?referrer=documentation_overview">Design Choices</a></LI>
	<LI><a href="{{ url_for('to_design_principles_and_goals') }}?referrer=documentation_overview">Design Principles</a></LI>
	<UL>
		<LI><a href="{{ url_for('to_comparison_of_design_options_cas') }}?referrer=documentation_overview">Computer Algebra System (CAS) options comparison</a></LI>
		<LI><a href="{{ url_for('to_comparison_of_design_options_proofs') }}?referrer=documentation_overview">Proof assistant  options comparison</a></LI>
		<LI><a href="{{ url_for('to_comparison_of_design_options_syntax') }}?referrer=documentation_overview">Syntax  options comparison</a></LI>
		<LI><a href="{{ url_for('to_comparison_of_design_options_database') }}?referrer=documentation_overview">Database options comparison</a></LI>
	</UL>
	<LI><a href="{{ url_for('to_other_projects') }}?referrer=documentation_overview">other projects</a></LI>
	<LI><a href="{{ url_for('to_literature_review') }}?referrer=documentation_overview">literature review</a></LI>
	<LI><a href="{{ url_for('to_historical_precedents') }}?referrer=documentation_overview">historical precedents</a></LI>
	<LI><a href="{{ url_for('to_conventions_documentation') }}?referrer=documentation_overview">conventions</a></LI>
	<LI><a href="{{ url_for('to_site_map') }}?referrer=documentation_overview">site map</a></LI>
</UL>


{% endblock %}
