{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

{% include "jinja2_pages/reusable_components/_narrower_text_css.html" %}

<h1>Conventions and Definitions for the Physics Derivation Graph</h1>

<P><a href="{{ url_for('to_navigation') }}?referrer=convention_documentation">navigation</a> / 
   <a href="{{ url_for('to_documentation_overview') }}?referrer=convention_documentation">documentation overview</a> / 
   conventions documentation


<H2>Conventions</H2>
<UL>
  <LI>On webpages the HTML tag "Fieldset" is used to denote actions available to the user.</LI>
  <LI>Indices start from 1</LI>
  <LI>Only ASCII<BR>
  This manifests in both the HTML pages and checking in this file for each route that accepts input.</LI>
  <LI>Logging categories</LI>
  <UL>
    <LI>DEBUG    = detailed technical data for diagnostics. Not normally relevant to collect.
    <LI>INFO     = routine, healthy operations. Usually don't care about under normal circumstances. Default level for log entries.
    <LI>WARNING  = unexpected, potentially problematic events. Anything that can potentially cause application oddities, but for which there is automatic recovery.
    <LI>ERROR    = failed operations affecting functionality. Errors force user intervention.
    <LI>CRITICAL = unrecoverable system failure; data corruption or data loss occurred.
  </UL>
  <LI>Bug categories</LI>
  <OL>
    <LI>no page should trigger a gunicorn error (which prevent rendering HTML)
    <LI>pages that do render HTML should not have errors (including flash messages)
    <LI>pages that claim a feature but do not enact that feature (e.g., editing a variable or expression or step or infrule or derivation)
    <LI>pages that lack a necessary feature for the workflow (e.g., editing)
  </OL>
</UL>

<H2>Jargon, Definitions, Dictionary</H2>

<P>"Inference rules", "expressions", and "feeds" are words specific to the Physics Derivation Graph.
  Represented graphically, their relation is

<img src="{{ url_for('static', filename='single_step.png') }}" width=300>

<P>Read this directed graph as, "The inference rule acts on the input expression and, combined with the feed, produces the output expression." Inference rules can be considered as functions; the above picture would be

<pre>
def inference_rule(input_expression, feed):
    return output_expression
</pre>

<HR>

<P>The following is a table of the jargon specific to the Physics Derivation Graph.

<div align="center">
<table border="1" id="definitions_table" class="sortable">
  <thead>
  <tr>
    <th>word</th>
    <th>definition</th>
    <th>see more</th>
  </tr></thead>
<tbody>
  <tr>
    <td id="Left-hand side">Left-hand side
      <a href="#Left-hand side">#</a></td>
    <td>LHS of an <a href="#Expression">expression</a>.<br>
      LHS is comprised of non-relation symbols.<br>
    In an expression, LHS is separated from RHS by a <a href="#Relation">relation</a>.</td>
    <td></td>
  </tr>
  <tr>
    <td id="LHS">LHS
      <a href="#LHS">#</a></td>
    <td>See <a href="#Left-hand side">Left-hand side</a></td>
    <td></td>
  </tr>
  <tr>
    <td id="Right-hand side">Right-hand side
      <a href="#Right-hand side">#</a></td>
    <td>RHS of an <a href="#Expression">expression</a>.<br>
      RHS is comprised of non-relation symbols.<br>
    In an expression, RHS is separated from LHS by a <a href="#Relation">relation</a>.</td>
    <td></td>
  </tr>
  <tr>
    <td id="RHS">RHS
      <a href="#RHS">#</a></td>
    <td>See <a href="#Right-hand side">Right-hand side</a></td>
    <td></td>
  </tr>
  <tr>
    <td id="Expression">Expression
      <a href="#Expression">#</a></td>
    <td>An expression is comprised of a <a href="#LHS">LHS</a>, <a href="#Relation">relation</a>, <a href="#RHS">RHS</a>
      Expressions include both equations (the relation operator is equality) and inequalities (the relation operator is an inequality).
      <br>Each expression appears only once in the Physics Derivation Graph.</td>
<!--An expression is, by default, composed of (LHS, relation operator, RHS).-->
    <td><a href="{{ url_for('to_list_expressions') }}?referrer=convention_documentation">list of expressions</a></td>
  </tr>
  <tr>
    <td id="Feed">Feed
      <a href="#Feed">#</a></td>
    <td>An <a href="#Inference Rule">inference rule</a> may require one or more "feed" values.
      A feed may appear more than once in the Physics Derivation Graph. <br>
    A feed does not have a <a href="#Relation">relation</a> (e.g., equality or inequality).</td>
    <td></td>
  </tr>
  <tr>
    <td id="Inference Rule"><a href="{{ url_for('to_user_documentation') }}?referrer=index#inference rules">Inference Rule</a>
      <a href="#Inference Rule">#</a></td>
    <td>Acts on one or more <a href="#Expression">Expressions</a>. <br>
    Inference rule is the defining feature of a <a href="#Step">Step</a>.</td>
    <!-- An inference rule relates one or more math expressions. -->
    <td><a href="{{ url_for('to_user_documentation') }}?referrer=convention_documentation#inference%20rules">Inference rules</a></td>
  </tr>
  <tr>
    <td id="Symbol">Symbol
      <a href="#Symbol">#</a></td>
    <td>"Symbols" refers to <a href="#Relation">relations</a>, <a href="#Operation">operations</a>, scalars, vectors, matrices.</td>
    <td></td>
  </tr>
  <tr>
    <td id="Operation">Operation
      <a href="#Operation">#</a></td>
    <td>Appears in LHS and RHS of an expression. Requires one or more arguments.</td>
    <td><a href="{{ url_for('to_list_operations') }}?referrer=convention_documentation">list of operations</a></td>
  </tr>
  <tr>
    <td id="Relation">Relation
      <a href="#Relation">#</a></td>
    <td>separates the LHS and RHS of an <a href="#Expression">Expression</a>.</td>
    <td><a href="{{ url_for('to_list_relations') }}?referrer=convention_documentation">list of relations</a></td>
  </tr>
  <tr>
    <td id="Derivation">Derivation
      <a href="#Derivation">#</a></td>
    <td>A derivation is comprised of <a href="#Step">steps</a>.</td>
    <!-- A derivation is a sequence of steps. -->
    <td><a href="{{ url_for('to_list_derivations') }}?referrer=convention_documentation">list of derivations</a></td>
  </tr>
  <tr>
    <td id="Step">Step
      <a href="#Step">#</a></td>
    <td>A step is comprised of an <a href="#Inference Rule">inference rule</a> and one or more <a href="#Expression">expressions</a>.</td>
    <td></td>
  </tr>
  <tr>
    <td id="value">value
      <a href="#value">#</a></td>
    <td>constants have numeric values with <a href="#unit">units</a>.</td>
    <td></td>
  </tr>
  <tr>
    <td id="constant">constant
      <a href="#constant">#</a></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td id="variable">variable
      <a href="#variable">#</a></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td id="unit">unit
      <a href="#unit">#</a></td>
    <td>Constants are either unitless or have units.<br>
      Each <a href="#dimensionality">dimensionality</a> has a set of units.</td>
    <td></td>
  </tr>
  <tr>
    <td id="dimensionality">dimensionality
      <a href="#dimensionality">#</a></td>
    <td><a href="#variable">Variables</a> and <a href="#constant">constants</a> are either dimensionless or have dimensionality.</td>
    <td></td>
  </tr>
  <tr>
    <td id="index of step">index of step
      <a href="#index of step">#</a></td>
    <td><a href="#Step">Steps</a> in a Derivation are ordered.</td>
    <td></td>
  </tr>
  <tr>
    <td id="index of input expression">index of input expression
      <a href="#index of input expression">#</a></td>
    <td><a href="#Expression">Expressions</a> referenced by a step are <a href="#Step">ordered</a>.</td>
    <td></td>
  </tr>
  <tr>
    <td id="index of feed expression">index of feed expression
      <a href="#index of feed expression">#</a></td>
    <td><a href="#Expression">Expressions</a> referenced by a step are <a href="#Step">ordered</a>.</td>
    <td></td>
  </tr>
  <tr>
    <td id="index of output expression">index of output expression
      <a href="#index of output expression">#</a></td>
    <td><a href="#Expression">Expressions</a> referenced by a step are <a href="#Step">ordered</a>.</td>
    <td></td>
  </tr>
  <!--
  <tr>
    <td id="">
      <a href="#">#</a></td>
    <td></td>
    <td></td>
  </tr>
  -->
</tbody></table>
</div>

{% endblock %}
