{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

{% include "jinja2_pages/reusable_components/_narrower_text_css.html" %}

<a href="{{ url_for('to_navigation') }}?referrer=agentic_llm_documentation">navigation</a> / 
   <a href="{{ url_for('to_documentation_overview')}}?referrer=agentic_llm_documentation">documentation overview</a> / 
   Agentic LLM Documentation

<H1>Agentic LLM Use of the Physics Derivation Graph</H1>

<P>The Physics Derivation Graph does not have a local LLM nor does the project call remotely-hosted LLMs. 
   Use of an LLM or agentic LLM is the responsibility of the user and is client-side.
   The Physics Derivation Graph provides <a href="{{ url_for('to_api_documentation') }}?referrer=agentic_llm_documentation">API documentation</a> intended to enable agents.

<P>The workflow for a generic derivation is
<img src="{{ url_for('static', filename='agentic_workflow.svg') }}">
<!-- see static/agentic_workflow.dot -->

<P>The order of the stages is due to the constraint that SYMBOLS.json and OPERATIONS.json have to be determined before EXPRESSIONS.json, and EXPRESSIONS.json have to be determined before STEPS.json.



<P>Stage 1: to create DERIVATION.tex  
   see <a href="{{ url_for('to_llm_workflow_documenation') }}#derivation as tex?referrer=agentic_llm_documentation">prompt</a>

<P>Stage 2: to create SYMBOLS.json  
   see <a href="{{ url_for('to_llm_workflow_documenation') }}#tex to symbols?referrer=agentic_llm_documentation">prompt</a>.
    Then <a href="{{ url_for('to_validate_SYMBOLS_json') }}?referrer=agentic_llm_documentation">validate SYMBOLS.json</a> to create <code>SYMBOLS_with_local_IDs.json</code>.

<P>Extract the current symbols from the PDG database using
<pre>
curl --silent --insecure https://localhost/api/resources/symbol/scalars | jq 'walk(if type == "object" then del(._links, ._templates, .count, .author_name_latex, .created_datetime) else . end)'

curl --silent --insecure https://localhost/api/resources/symbol/vectors | jq 'walk(if type == "object" then del(._links, ._templates, .count, .author_name_latex, .created_datetime) else . end)'

curl --silent --insecure https://localhost/api/resources/symbol/matrices | jq 'walk(if type == "object" then del(._links, ._templates, .count, .author_name_latex, .created_datetime) else . end)'
</pre>
create <code>matched_SYMBOLS.json</code> and <code>missing_SYMBOLS.json</code> using 
<a href="{{ url_for('to_llm_workflow_documenation') }}#symbol comparison?referrer=agentic_llm_documentation">this prompt</a>.

<P>Given <code>SYMBOLS_with_local_IDs.json</code> and the list of matches from the LLM, the rewrite of symbols JSON is mechanical.<BR>
   TODO: create a page that ingests <code>SYMBOLS_with_local_IDs.json</code> and <code>matched_SYMBOLS.json</code> and rewrites  <code>SYMBOLS_with_IDs.json</code>

<P>Given <code>SYMBOLS_with_IDs.json</code> and the list of missing, a human reviewer should confirm lack of existence. Once the human reviewer confirms then creation of symbols should be mechanical. <BR>
   TODO: Create the API and, separately, a web page that takes in the missing JSON list to create symbols in PDG.

<P>Once the missing symbols have been created in PDG database, rerun the assessment and confirm symbols until missing is empty.

<P>Stage 5: to create OPERATIONS.json  
   see <a href="{{ url_for('to_llm_workflow_documenation') }}#tex to operations?referrer=agentic_llm_documentation">prompt</a>
   and then <a href="{{ url_for('to_validate_OPERATIONS_json') }}?referrer=agentic_llm_documentation">validate OPERATIONS.json</a> to create OPERATIONS_with_local_IDs.json

<pre>
curl --silent --insecure https://localhost/api/resources/symbol/operations | jq 'walk(if type == "object" then del(._links, ._templates, .count, .author_name_latex, .created_datetime) else . end)'
</pre>


<P>Stage 8, to create EXPRESSIONS.json  
   see <a href="{{ url_for('to_llm_workflow_documenation') }}#tex to expr?referrer=agentic_llm_documentation">prompt</a>
   and then <a href="{{ url_for('to_validate_EXPRESSIONS_json') }}?referrer=agentic_llm_documentation">validate EXPRESSIONS.json</a>

<P>To get the current expressions from PDG database as JSON use
<pre>
curl --silent --insecure https://localhost/api/resources/expressions | jq 'walk(if type == "object" then del(._links, ._templates, .count, .author_name_latex, .created_datetime) else . end)'
</pre> 

<P>TODO: from EXPRESSIONS.json extract RELATIONS.json since "relation" is one of the keys and "=" is typical.

<P>Then compare "=" or other relation with

<pre>
curl --silent --insecure https://localhost/api/resources/symbol/relations | jq 'walk(if type == "object" then del(._links, ._templates, .count, .author_name_latex, .created_datetime) else . end)'
</pre>

<P>Once all symbols and operations in relations exist in the database, and those database IDs have been updated in the respective JSONs, then the LLM can figure out what symbols, operations, and relations are associated with each expression. The LLM will produce a new JSON file with all the respective edges. Will need a new JSON schema for the edge list to validate against.


<P>TODO: create EXPRESSIONS_with_SYMBOLS_and_OPERATIONS.json from EXPRESSIONS.json + DERIVATION.tex + SYMBOLS_with_local_IDs.json + OPERATIONS_with_local_IDs.json  + RELATIONS.json

<P>Stage 12: to create STEPS.json 
   see <a href="{{ url_for('to_llm_workflow_documenation') }}#tex to steps?referrer=agentic_llm_documentation">prompt</a>
   and then <a href="{{ url_for('to_validate_STEPS_json') }}?referrer=agentic_llm_documentation">validate STEPS.json</a>

<P>TODO: what happens if a new inference rule is needed?

<P>TODO: create STEPS_with_EXPRESSIONS.json from DERIVATION.tex + STEPS.json + EXPRESSIONS.json

<P>Stage 15: to create DERIVATION.json
   see <a href="{{ url_for('to_validate_DERIVATION_json') }}?referrer=agentic_llm_documentation">validate DERIVATION.json</a>

<P>DERIVATION.json is 
   <UL>
      <LI>SYMBOLS.json     with just symbols     to be added to PDG
      <LI>OPERATIONS.json  with just operations  to be added to PDG
      <LI>EXPRESSIONS.json with just expressions to be added to PDG
      <LI>INFERENCE_RULES.json
      <LI>STEPS.json
   </UL>


{% endblock %}
