{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

{% include "jinja2_pages/reusable_components/_narrower_text_css.html" %}

<h1>Documentation for the Physics Derivation Graph</h1>

<P><a href="{{ url_for('to_navigation') }}">navigation</a> / documentation overview

<H3>By audience</H3>
<UL>
<LI><a href="{{ url_for('to_student_documentation') }}?referrer=documentation_overview">student</a></LI>
<LI><a href="{{ url_for('to_instructor_documentation') }}?referrer=documentation_overview">instructor</a></LI>
<LI><a href="{{ url_for('to_researcher_documentation') }}?referrer=documentation_overview">researcher</a></LI>
<LI><a href="{{ url_for('to_user_documentation') }}?referrer=documentation_overview">user</a> (concepts overview)</LI>
<LI><a href="{{ url_for('to_developer_documentation') }}?referrer=documentation_overview">developer</a></LI>
<LI><a href="{{ url_for('to_blog_list') }}?referrer=documentation_overview">blog reader</a></LI>
</UL>

<H3>By interface</H3>
<UL>
<LI><a href="{{ url_for('to_api_documentation') }}?referrer=documentation_overview">API</a></LI>
<LI><a href="{{ url_for('to_workflow_documenation') }}?referrer=documentation_overview">workflow and site map for the web UI</a></LI>
</UL>


<H3>More</H3>
<UL>
	<LI><a href="{{ url_for('to_faq') }}?referrer=documentation_overview">FAQ (Frequently Asked Questions)</a></LI>
	<UL>
		<LI><a href="{{ url_for('to_document_hilbert_sixth') }}?referrer=documentation_overview">Hilbert's Sixth Problem</a></LI>
		<LI><a href="{{ url_for('to_document_dimensionality') }}?referrer=documentation_overview">Dimensionality</a></LI>
	</UL>
	<LI><a href="{{ url_for('to_design_documentation') }}?referrer=documentation_overview">Design Principles and Choices</a></LI>
	<UL>
		<LI><a href="{{ url_for('to_comparison_of_design_options_cas') }}?referrer=documentation_overview">Computer Algebra System (CAS) options comparison</a></LI>
		<LI><a href="{{ url_for('to_comparison_of_design_options_proofs') }}?referrer=documentation_overview">Proof assistant  options comparison</a></LI>
		<LI><a href="{{ url_for('to_comparison_of_design_options_syntax') }}?referrer=documentation_overview">Syntax  options comparison</a></LI>
		<LI><a href="{{ url_for('to_comparison_of_design_options_database') }}?referrer=documentation_overview">Database options comparison</a></LI>
		<LI><a href="{{ url_for('to_comparison_of_design_options_graph_drawing') }}?referrer=documentation_overview">Graph drawing comparison</a></LI>
	</UL>
	<LI><a href="{{ url_for('to_other_projects') }}?referrer=documentation_overview">Other projects</a></LI>
	<LI><a href="{{ url_for('to_literature_review') }}?referrer=documentation_overview">Literature review</a></LI>
	<LI><a href="{{ url_for('to_conventions_documentation') }}?referrer=documentation_overview">Conventions and definitions</a></LI>
	<LI><a href="{{ url_for('to_document_goals_roadmap') }}?referrer=documentation_overview">Goals and Roadmap</a></LI>
	<LI><a href="{{ url_for('to_llm_workflow_documenation') }}?referrer=documentation_overview">Sequence of LLM Prompts for new content</a></LI>

<!-- 
	DEPRECATED
	<LI><a href="{{ url_for('to_evaluation_of_LLM_prompts') }}?referrer=documentation_overview">Evaluation of LLM prompts</a></LI>
-->	
	
</UL>


{% endblock %}
