{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<h1>Conventions Documentation for the Physics Derivation Graph</h1>

<P><a href="{{ url_for('to_navigation') }}">navigation</a> / 
   <a href="{{ url_for('to_documentation_overview')}}">documentation overview</a> / 
   conventions documentation


<UL>
  <LI>On webpages the HTML tag "Fieldset" is used to denote actions available to the user.</LI>
  <LI>Expressions are decomposed into "LHS", "relation", "RHS"
  <LI>"Symbols" refers to operations, scalars, vectors, matrices.
  <LI>"Non-operation symbols" refers to scalars, vectors, matrices.
</UL>




{% endblock %}
