{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

{% include "jinja2_pages/reusable_components/_narrower_text_css.html" %}

<a href="{{ url_for('to_navigation') }}?referrer=agentic_llm_documentation">navigation</a> / 
   <a href="{{ url_for('to_documentation_overview')}}?referrer=agentic_llm_documentation">documentation overview</a> / 
   Agentic LLM Documentation

<H1>Agentic LLM Use of the Physics Derivation Graph</H1>

<P>The Physics Derivation Graph does not have a local LLM nor does the project call remotely-hosted LLMs. 
   Use of an LLM or agentic LLM is the responsibility of the user and is to be run client-side.
   The Physics Derivation Graph provides 
   <a href="{{ url_for('to_api_documentation') }}?referrer=agentic_llm_documentation">API documentation</a> relevant to agents.

<P>The workflow for a generic derivation is</P>
   <a href="{{ url_for('static', filename='agentic_workflow.svg') }}">
<img src="{{ url_for('static', filename='agentic_workflow.svg') }}">
</a>
<!-- see static/agentic_workflow.dot -->

<P>The order of the stages is due to the constraint that SYMBOLS.json and OPERATIONS.json have to be determined before EXPRESSIONS.json, and EXPRESSIONS.json has to be determined before STEPS.json.



<P><a name="create_derivation_tex">Stage 1: Create DERIVATION.tex</a>
   using this <a href="{{ url_for('to_llm_workflow_documenation') }}?referrer=agentic_llm_documentation#derivation as tex">prompt</a>.

<HR>

<P><a name="create_symbols_json">Stage 2: Create SYMBOLS.json</a>  
   using this <a href="{{ url_for('to_llm_workflow_documenation') }}?referrer=agentic_llm_documentation#tex to symbols">prompt</a>.

<P>Stage 3: Use <a href="{{ url_for('to_validate_SYMBOLS_json') }}?referrer=agentic_llm_documentation">validate SYMBOLS.json</a> to create <code>SYMBOLS_with_local_IDs.json</code>.

<P>Stage 4: Extract the current symbols from the PDG database using
<pre>
curl --silent --insecure https://localhost/api/resources/symbol/scalars |\
 jq 'walk(if type == "object" then del(._links, ._templates, .count, .author_name_latex, .created_datetime) else . end)' &gt; pdg_scalars.json

curl --silent --insecure https://localhost/api/resources/symbol/vectors |\
 jq 'walk(if type == "object" then del(._links, ._templates, .count, .author_name_latex, .created_datetime) else . end)' &gt; pdg_vectors.json

curl --silent --insecure https://localhost/api/resources/symbol/matrices |\
 jq 'walk(if type == "object" then del(._links, ._templates, .count, .author_name_latex, .created_datetime) else . end)' &gt; pdg_matrices.json
</pre>

<P>Stage 5: Create <code>matched_SYMBOLS.json</code> and <code>missing_SYMBOLS.json</code> using 
<a href="{{ url_for('to_llm_workflow_documenation') }}?referrer=agentic_llm_documentation#symbol comparison">this prompt</a>.

<P>Stage 6: Given <code>SYMBOLS_with_local_IDs.json</code> and <code>SYMBOLS_matched.json</code> from the LLM, use
   <a href="{{ url_for('rewrite_SYMBOLS_json_using_matched_IDs') }}">this page</a> to create <code>SYMBOLS_with_local_IDs_and_PDG_IDs.json</code>.

<P>Stage 7: Given <code>SYMBOLS_with_local_IDs.json</code> and <code>SYMBOLS_missing.json</code>, a human reviewer should confirm lack of existence. Once the human reviewer confirms then creation of symbols should be mechanical. <BR>
   TODO: Create the API and, separately, a web page that takes in the missing JSON list to create symbols in PDG.

<P>Once the missing symbols have been created in PDG database, rerun the assessment (from Step 4) and confirm symbols until missing is empty.

<HR>

<P>Stage 8: Create <code>OPERATIONS.json</code>
   using <a href="{{ url_for('to_llm_workflow_documenation') }}?referrer=agentic_llm_documentation#tex to operations">this prompt</a>
   
<P>Stage 9: <a href="{{ url_for('to_validate_OPERATIONS_json') }}?referrer=agentic_llm_documentation">validate OPERATIONS.json</a> to create OPERATIONS_with_local_IDs.json

<P>Stage 10: extract operations from PDG using
<pre>
curl --silent --insecure https://localhost/api/resources/symbol/operations |\ 
 jq 'walk(if type == "object" then del(._links, ._templates, .count, .author_name_latex, .created_datetime) else . end)' &gt; pdg_operations.json
</pre>

<P>Stage 11: Create <code>OPERATIONS_matched.json</code> and <code>OPERATIONS_missing.json</code> using <a href="{{ url_for('to_llm_workflow_documenation') }}?referrer=agentic_llm_documentation#compare%20operations">this prompt</a>.

<P>Stage 12: Given <code>OPERATIONS_with_local_IDs.json</code> and <code>OPERATIONS_matched.json</code> 

<P>Stage 13: Given <code>OPERATIONS_with_local_IDs.json</code> and <code>OPERATIONS_missing.json</code>

<P>Once the missing operations have been created in PDG database, rerun the assessment (from Step 10) and confirm operations until missing is empty.

<HR>

<P>Stage 14, to create EXPRESSIONS.json  
   using <a href="{{ url_for('to_llm_workflow_documenation') }}?referrer=agentic_llm_documentation#tex to expr">prompt</a>

<P>Stage 15: <a href="{{ url_for('to_validate_EXPRESSIONS_json') }}?referrer=agentic_llm_documentation">validate EXPRESSIONS.json</a> to create <code>EXPRESSIONS_with_local_IDs.json</code>

<P>Stage 16: To get the current expressions from PDG database as JSON use
<pre>
curl --silent --insecure https://localhost/api/resources/expressions |\
 jq 'walk(if type == "object" then del(._links, ._templates, .count, .author_name_latex, .created_datetime) else . end)'
</pre> 

<P>TODO: from EXPRESSIONS.json extract RELATIONS.json since "relation" is one of the keys and "=" is typical.

<P>Then compare "=" or other relation with

<pre>
curl --silent --insecure https://localhost/api/resources/symbol/relations |\
 jq 'walk(if type == "object" then del(._links, ._templates, .count, .author_name_latex, .created_datetime) else . end)'
</pre>

<HR>

<P>Once all symbols and operations in relations exist in the database, and those database IDs have been updated in the respective JSONs, then the LLM can figure out what symbols, operations, and relations are associated with each expression. The LLM will produce a new JSON file with all the respective edges. Will need a new JSON schema for the edge list to validate against.


<P>TODO: create EXPRESSIONS_with_SYMBOLS_and_OPERATIONS.json from EXPRESSIONS.json + DERIVATION.tex + SYMBOLS_with_local_IDs.json + OPERATIONS_with_local_IDs.json  + RELATIONS.json

<P>Stage ??: to create STEPS.json 
   see <a href="{{ url_for('to_llm_workflow_documenation') }}?referrer=agentic_llm_documentation#tex to steps">prompt</a>
   and then <a href="{{ url_for('to_validate_STEPS_json') }}?referrer=agentic_llm_documentation">validate STEPS.json</a>

<P>TODO: what happens if a new inference rule is needed?

<P>TODO: create STEPS_with_EXPRESSIONS.json from DERIVATION.tex + STEPS.json + EXPRESSIONS.json

<P>Stage ??: to create DERIVATION.json
   see <a href="{{ url_for('to_validate_DERIVATION_json') }}?referrer=agentic_llm_documentation">validate DERIVATION.json</a>

<P>DERIVATION.json is 
   <UL>
      <LI>SYMBOLS.json     with just symbols     to be added to PDG
      <LI>OPERATIONS.json  with just operations  to be added to PDG
      <LI>EXPRESSIONS.json with just expressions to be added to PDG
      <LI>INFERENCE_RULES.json
      <LI>STEPS.json
   </UL>


{% endblock %}
