{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<h1>Design Principles Documentation for the Physics Derivation Graph</h1>

<P><a href="{{ url_for('to_navigation') }}">navigation</a> / 
   <a href="{{ url_for('to_documentation_overview')}}">documentation overview</a> / 
   design documentation

<P>
  <em>Recommendation</em>: Read the
  <a href="{{ url_for('to_user_documentation') }}?referrer=design_documentation">user documentation</a>
  and <a href="{{ url_for('to_faq') }}?referrer=design_documentation">FAQ</a> first.
  This page assumes familiarity with the jargon used in the Physics Derivation Graph.
</P>

<P>This page enumerates design principles and goals for the Physics Derivation Graph (PDG).<BR>
  The list is unordered.


<UL>
  <LI>Long-term durability (as measured by financial and temporal costs of maintenance)
  <LI>Easy for users to leverage (accessibility)
  <LI>Easy for developers to contribute (accessibility)
  <LI>Reproducibility
</UL>
<P>Therefore
<UL>
  <LI>Stable code base (therefore avoid dependencies). Should decrease the maintenance burden
  <LI>Use free software (e.g., Latex, SymPy, Linux, Python, Docker, HTML) - saves money for developers and users
  <LI>Use Open source software (e.g., Latex, SymPy, Linux, Python, Docker, HTML) - enables inspection of implementation
  <LI>Containers (reproducibility)
</UL>


{% endblock %}
