<!DOCTYPE html>
<!-- unlike all other pages, this page does not inherit from _base.html
     That's because the "sign in" and "navigation" links are not shown at the top of the page -->
<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<HTML lang='en'>
  <head>
    {% if title %}
    <title>Physics Derivation Graph: {{ title }}</title>
    {% else %}
    <title>Welcome to the Physics Derivation Graph</title>
    {% endif %}

    <!-- defines the default zoom for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:type" content="website" /> <!-- https://ogp.me/#types -->
    <meta property="og:site_name" content="Physics Derivation Graph" /> <!-- https://ogp.me/#optional -->

{% include 'jinja2_pages/reusable_components/_js_aggregate.html' %}

<!-- the following tag verifies ownership of the site for https://search.google.com/search-console/ -->
<meta name="google-site-verification" content="fYXshUQ--0uTfFV8ESx4waf3p2n7HlYFt1EYwiY-MIk" />

<!-- You are dating a girl named Sally. She has 2 identical twin sisters. You can't distinguish them from each other. So they all wear t-shirts with an arrow pointing to Sally. Sally wears a t-shirt saying "I'm Sally".-->
<link rel="canonical" href="https://allofphysics.com/">


  </head>



<!-- inserted by Ben on 2023-08-03, based on snippet from https://analytics.google.com/ -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y7NP6E0QW6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y7NP6E0QW6');
</script>

{% include "jinja2_pages/reusable_components/_narrower_text_css.html" %}

  <body>

<center>
  <H2>Physics Derivation Graph</H2>
</center>

<!--
<P>
  <em>Example:</em> A simple example is the relation between period, \(T\), and linear frequency, \(f\).
  
  -->
  
<P>A statement about period, \(T\), and linear frequency, \(f\) like "\(T=1/f\) is equivalent to \(f=1/T\)" can be made more explicit by explaining the steps:
  <blockquote>
    The mathematical expression of the relation is \(T=1/f\).
    To express frequency as a function of period, multiply both sides of the expression by \(f\) to get a new expression, \(T\ f=1\).
  Then divide both sides of the second expression by \(T\) to yield the third expression, \(f=1/T\).
  </blockquote>

<P>That narrative text can be represented by a graph that links expressions and steps:

 <center>
   <table>
     <tr>
       <td><svg id='viz'></svg></td>
       <td><img src="{{ url_for('static', filename='frequency_and_period_from_PDF.png') }}" width="400"></td>
     </tr>
   </table>
 </center>
</P>


<P>
  Can all known mathematical physics be documented in a way that can be both read by humans and checked by a computer algebra system?<BR/>
  To investigate that question the Physics Derivation Graph provides a schema and software infrastructure for mathematical physics. 
  <!--By making relations explicit between mathematical expressions, connections between topics are observable. -->

<P>
  For the impatient user, see the Physics Derivation Graph <a href="{{ url_for('to_navigation', referrer='index') }}" data-testid="impatient-nav-link">navigation</a>. More context for <a href="{{ url_for('to_student_documentation') }}">students</a>, <a href="{{ url_for('to_instructor_documentation') }}">instructors</a>, and <a href="{{ url_for('to_researcher_documentation') }}">researchers</a> is available.
</P>


<P>
  <em>Terminology</em>: In the above example there are three expressions: \(T=1/f\), \(T\ f=1\), and \(f=1/T\).
  Each expression is defined by a left-hand side, a relation operator (here "="), and a right-hand side.
  Two instances of the <a href="https://en.wikipedia.org/wiki/Equivalence_relation#Definition">Equivalence relation</a> relate the three expressions.
  These relations between expressions are called <a href="{{ url_for('to_user_documentation', referrer='index') }}#inference rules">inference rules</a>.
  The generic form of the first inference rule used in the example is "multiply both sides of an expression by a quantity to yield a new expression."
  Similarly, the second inference rule is generically, "divide both sides of an expression by a quantity to yield a new expression."
</P>

<P>
  <em>Implementation</em>: Relations in Physics derivations are enacted using a <a href="{{ url_for('to_developer_documentation', referrer='index') }}#Neo4j">a Neo4j property graph database</a>.
  The can be exported to other formats like CSV and JSON; see the <a href="{{ url_for('to_navigation', referrer='index') }}">PDG navigation</a> page.
</P>

<P>
  <em>Motivation:</em> <a href="https://en.wikipedia.org/wiki/Mathematical_physics">Mathematical Physics</a> uses the tools of math applied to measurements of our environment.
  In Physics existing knowledge can be written down.
  That written record can be checked for correctness by a computer algebra system.
  <!--A third unique facet to Physics is that claims can be tested by experiment.-->
</P>

<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ef8ho41vjWI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>


<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mlDKnpZ3fQQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>



<P>&nbsp;</P>
<P>&nbsp;</P>

<H3>Where to get started?</H3>

<P>
  Use the Physics Derivation Graph <a href="{{ url_for('to_navigation', referrer='index') }}">navigation</a>, or read the <a href="{{ url_for('to_faq') }}">FAQ</a>, or review the <a href="{{ url_for('to_user_documentation') }}">documentation</a>.
</P>
<P>
  See also <a href="{{ url_for('to_other_projects', referrer='index') }}">other related or similar projects</a>, <a href="{{ url_for('to_literature_review', referrer='index') }}">literature review</a>, and <a href="{{ url_for('to_clickable_layers', referrer='index') }}">experiments in annotation</a>.
</P>

{% include 'jinja2_pages/reusable_components/_js_d3.html' %}


{% include 'jinja2_pages/reusable_components/_footer.html' %}

    </body>
</html>
