{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

{% include "jinja2_pages/reusable_components/_narrower_text_css.html" %}

<!--
<P><a href="https://github.com/allofphysicsgraph/task-tracker/issues/124">https://github.com/allofphysicsgraph/task-tracker/issues/124</a>
-->

<P>Hello {{ user_name }}

  <!-- hash of email is
   {{ user_hash }} -->

<P>Your contributions:
<UL>
  <LI>{{ number_of_contributions }} contributions
  <LI>Earliest contribution: {{ earliest_date }}
  <LI>Your most recent contribution was on {{ latest_date }}
</UL>

<style>
  td {
    vertical-align: top;
  }
</style>

<table border="1" id="expression_table" class="sortable">
  <tr>
    <th>Derivations you created</th>
    <th>Expressions you created</th>
    <th>Inference Rules you created</th>
    <th>Symbols you created</th>
    <th>Operations you created</th>
    <th>Relations you created</th>
  </tr>
  <tr>
    <td>
      <UL>
      {% for derivation_dict in list_of_derivations %}
        <LI><a href="{{ url_for('to_review_derivation', derivation_id=derivation_dict['id']) }}">{{ derivation_dict['name_latex'] }}</a></LI>
      {% endfor %}
      </UL>
    </td>
    <td>
      <UL>
      {% for expression_dict in list_of_expressions %}
        <LI><a href="{{ url_for('to_edit_expression', expression_id=expression_dict['id']) }}">{{ expression_dict['id'] }}</a>: {{ expression_dict['name_latex'] }}</LI>
      {% endfor %}
      </UL>
    </td>
    <td>
      <UL>
      {% for infrule_dict in list_of_infrules %}
        <LI><a href="{{ url_for('to_edit_inference_rule', inference_rule_id=infrule_dict['id']) }}">{{ infrule_dict['name_latex'] }}</a></LI>
      {% endfor %}
      </UL>
    </td>
    <td>
      <UL>
      {% for symbol_dict in list_of_symbols %}
        <LI><a href="{{ url_for('to_edit_node', node_id=symbol_dict['id']) }}">{{ symbol_dict['id'] }}</a>: \( {{ symbol_dict['latex'] }} \)</LI>
      {% endfor %}
      </UL>
    </td>
    <td>
      <UL>
      {% for operation_dict in list_of_operations %}
        <LI><a href="{{ url_for('to_edit_operation', operation_id=operation_dict['id']) }}">{{ operation_dict['id'] }}</a>: \( {{ operation_dict['latex'] }} \)</LI>
      {% endfor %}
      </UL>
    </td>
    <td>
      <UL>
      {% for relation_dict in list_of_relations %}
        <LI><a href="{{ url_for('to_edit_relation', relation_id=relation_dict['id']) }}">{{ relation_dict['id'] }}</a>: \( {{ relation_dict['latex'] }} \)</LI>
      {% endfor %}
      </UL>
    </td>
  </tr>
</table>

<!--
<P>list_of_derivations:
  { { list_of_derivations } }

<P>expression_dict:
  { { expression_dict } }

<P>list_of_symbols:
  { { list_of_symbols }}
-->

{% endblock %}