{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

{% include "jinja2_pages/reusable_components/_narrower_text_css.html" %}

<!--
<P><a href="https://github.com/allofphysicsgraph/task-tracker/issues/124">https://github.com/allofphysicsgraph/task-tracker/issues/124</a>
-->

<P>Hello {{ user_name }}

<P>Your contributions:

<P>Earliest contribution: {{ earliest_date }}

<P>Your most recent contribution was on {{ latest_date }}

<P>Derivations you created:
<UL>
{% for derivation_dict in list_of_derivations %}
  <LI><a href="{ { deriv_name } }">{{ derivation_dict }}</a></LI>
{% endfor %}
</UL>

<P>Expressions you created:
<UL>
{% for expression_dict in list_of_expressions %}
  <LI><a href="{ { expr_id } }">{{ expression_dict }}</a></LI>
{% endfor %}
</UL>

TODO: list_of_symbols

{% endblock %}

