{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

{% if json_result %}

{% if json_is_valid %}
<H2>Result: JSON is valid</H2>
{% else %}
<H2>Result: JSON is not valid</H2>
{% endif %}
<HR>
<Pre>
{{ json_result }}
</Pre>
<HR>
{% endif %}


  <fieldset>
	<legend>JSON validation</legend>
	  <form method="post">
      {{ form_json.csrf_token }}
      <P><label for="json-input">JSON:</label>
      <textarea id="json-input" name="json-input" rows="10" cols="100" placeholder="Enter JSON here..."></textarea>
      <P><input type="submit" name="json-btn" value="Validate JSON">
    </form>
  </fieldset>


<P>See also <a href="{{ url_for('to_validate_SYMBMOLS_json') }}">validate SYMBOLS.json</a>

{% endblock %}