{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

{% if lean_result_stdout or lean_result_stderr %}
<H2>Result for input</H2>
<pre>
{{ lean_input }}
</pre>
<HR>
STDOUT:
<Pre>
{{ lean_result_stdout }}
</Pre>
STDERR:
<Pre>
{{ lean_result_stderr }}
</Pre>
<HR>
{% endif %}


  <fieldset>
	<legend>Validation of Lean</legend>
	  <form method="post">
      {{ form_lean.csrf_token }}
	   <label for="lean-input">Lean:</label>
	   <textarea id="lean-input" name="lean-input" rows="10" cols="100" placeholder="Enter Lean here..."></textarea>
      <P><input type="submit" name="validate lean" value="Validate Lean">
    </form>
  </fieldset>


Example of valid input:
<pre>
import Mathlib.Data.Real.Basic

theorem add_to_both_sides (a b c : Real) : a = b <-> a + c = b + c := by
  exact (add_right_cancel_iff).symm

#print axioms add_to_both_sides 
</pre>
which produces 
<pre>
'add_to_both_sides' depends on axioms: [propext, Classical.choice, Quot.sound]
</pre>
after about 30 seconds.

{% endblock %}
