logs/*.log
logs/*.log.1
logs/*.log.2
logs/*.log.3
tests_of_webpage/playwright/.coverage
tests_of_webpage/playwright/htmlcov/
tests_of_webpage/playwright/pytest_report.html
tests_of_webpage/playwright/.pytest_cache
documentation_generated_sphinx/_build/
documentation_generated_sphinx/logs/
.coverage
.env
.env.google
certs/*.pem
dumping_grounds
neo4j_graph_datascience_library
neo4j_pdg/plugins/
neo4j_pdg/logs
neo4j_pdg/data
