logs/*.log
logs/*.log.1
logs/*.log.2
logs/*.log.3
temp_for_llm/*.py
test_web_interface/playwrightbased/.coverage
test_web_interface/playwrightbased/htmlcov/
test_web_interface/playwrightbased/pytest_report.html
test_web_interface/playwrightbased/.pytest_cache
documentation_generated_sphinx/_build/
documentation_generated_sphinx/logs/
analysis_of_log_files/*.log
.coverage*
.env
.env.google
certs/*.pem
dumping_grounds
neo4j_graph_datascience_library
neo4j_pdg/plugins/
neo4j_pdg/logs
neo4j_pdg/data
webserver_for_pdg/static/from_LLMs/derivation_of_simple_harmonic_oscillator/pdg_*.json