{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=symbol_create">main page</a>
or return to <a href="{{ url_for('to_list_symbols') }}?referrer=operation_create">list of all symbols</a>
</P>

<P>See <a href="https://physicsderivationgraph.blogspot.com/2024/05/distinguishing-scalars-vectors-and.html">distinguishing scalars, vectors, and matrices as operators or symbols</a></P>

<P>Symbol dict: {{ symbol_dict }}

<fieldset>
  <legend>
    <H2>Create symbol</H2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_symbol_properties.csrf_token }}

<table>
<table border="0" id="scope_table" class="sortable">
  <tr>
    <td>{{ form_symbol_properties.symbol_scope.label }}: {{ form_symbol_properties.symbol_scope }}</td>

    <td>{{ form_symbol_properties.symbol_variable_or_constant.label }}: {{ form_symbol_properties.symbol_variable_or_constant }}</td>

    <td>{{ form_symbol_properties.symbol_domain.label}}: {{ form_symbol_properties.symbol_domain }}</td>
  </tr>
</table>


    <!-- https://en.wikipedia.org/wiki/International_System_of_Quantities#Base_quantities -->
    <P><a href="https://www.ldeo.columbia.edu/~martins/hydro/case_studies/units_dimensions.html">dimensions</a>: 
<table>
<table border="0" id="dimension_table" class="sortable">
  <tr>
    <td>{{ form_symbol_properties.dimension_length.label }} (<B>required</B>): {{ form_symbol_properties.dimension_length() }}</P>
    <P>{{ form_symbol_properties.dimension_time.label }} (<B>required</B>): {{ form_symbol_properties.dimension_time() }}</P>
    <P>{{ form_symbol_properties.dimension_mass.label }} (<B>required</B>): {{ form_symbol_properties.dimension_mass() }}</P>
    </td>
    <td>
      {{ form_symbol_properties.dimension_temperature.label }} (<B>required</B>): {{ form_symbol_properties.dimension_temperature() }}</P>
    <P>{{ form_symbol_properties.dimension_electric_charge.label }} (<B>required</B>): {{ form_symbol_properties.dimension_electric_charge() }}</P>
    </td>
    <td>{{ form_symbol_properties.dimension_amount_of_substance.label }} (<B>required</B>): {{ form_symbol_properties.dimension_amount_of_substance() }}</P>
    <P>{{ form_symbol_properties.dimension_luminous_intensity.label }} (<B>required</B>): {{ form_symbol_properties.dimension_luminous_intensity() }}</td>
  </tr>
</table>

      <P><input type="submit" value="add scalar symbol">
  </form>
</fieldset>

<P>{% include '_table_of_symbols_dimension0.html' %}


<script>
function select_symbol() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('symbol_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("symbol_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>



{% endblock %}
