    <footer>
    <P>&nbsp;</P>
    <P>&nbsp;</P>
    <P>&nbsp;</P>

<div align="center">
    <hr width="50%" align="center">
    <P>
       <a href="{{ url_for('to_index', referrer='_footer.html') }}" data-testid="footer-homepage">Physics Derivation Graph homepage</a> |
       <a href="{{ url_for('to_navigation', referrer='_footer.html') }}" data-testid="footer-nav">navigation</a> |
       <a href="{{ url_for('to_faq', referrer='_footer.html') }}" data-testid="footer-faq">FAQ</a> |
       <a href="{{ url_for('to_documentation_overview', referrer='_footer.html') }}" data-testid="footer-doc">documentation</a> 

    <P>
      <a href="{{ url_for('to_blog_list', referrer='_footer.html') }}" data-testid="footer-blog">blog</a> 
      <!-- previously https://physicsderivationgraph.blogspot.com/ -->
      |
      <!--<a href="{{ url_for('to_index', referrer='_footer.html') }}">website</a> |-->
      <!--<a href="https://github.com/allofphysicsgraph/ui_v8_website_flask_neo4j/wiki">wiki</a> | --> <!-- not in use -->
      <a href="https://github.com/allofphysicsgraph/ui_v8_website_flask_neo4j/issues">issues</a> |
      <a href="https://app.gitter.im/#/room/#allofphysicsgraph_Lobby:gitter.im">discuss on Gitter</a> or
      <a href="https://groups.google.com/g/physics-derivation-graph" data-testid="footer-google-groups">Google Groups</a> |
    <!--
      <a href="https://creativecommons.org/licenses/by/4.0/">License</a> |
    -->
      <a href="mailto:ben.is.located@gmail.com?subject=Physics Derivation Graph">Contact</a><a name="contact">
    </P>
    <P>
      <table>
        <tr>
         <td valign="middle" width="100">
           <a href="https://github.com/allofphysicsgraph/ui_v8_website_flask_neo4j" data-testid="footer-github">
             <img src="{{ url_for('static', filename='GitHub-icon.png')}}" align="left" alt="source code on GitHub">
           </a>
         </td>
         <td valign="middle" width="100">
           <a href="https://www.facebook.com/physicsderivationgraph/" data-testid="footer-facebook">
             <img src="{{ url_for('static', filename='facebook_icon.svg')}}" width="40" align="left" alt="Facebook"/>
           </a>
         </td>
         <td>
           <form method="post" action="{{ url_for('search_redirect_to_google') }}">
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <!-- this "action" is not consistent with the MVC paradigm since control is not
          passed back to controller.py.
          The reason for using action instead of a form class in controller.py
            consistent the MVC is because the footer appears on every page and I don't want to
            include the class in every page of the MVC -->
           <input type="text" id="search" name="search">
           <input type="submit" value="Search">
           </form>
         </td>
         <td valign="middle" width="50">
           &nbsp;
         </td>
         <td valign="middle" width="100">
           <a href="https://www.youtube.com/channel/UCBSInUAbtBkYDYKNc_iauVQ/" data-testid="footer-youtube">
             <img src="{{ url_for('static', filename='Youtube_icon.png')}}" width="40" align="left" alt="YouTube Channel"/>
           </a>
         </td>
         <td valign="middle" width="100">
           <a href="https://www.reddit.com/r/Physics/" data-testid="footer-reddit">
             <img src="{{ url_for('static', filename='reddit_icon.png')}}" align="left" alt="Reddit"/>
           </a>
         </td>
         <!-- BHP created a site but then it was deleted due to inactivity -->
         <!--
         <td valign="middle" width="100">
           <a href="https://www.reddit.com/r/physicsderivations/">
             <img src="{{ url_for('static', filename='reddit_icon.png')}}" align="left" alt="Reddit"/>
           </a>
         </td>
       -->
        </tr>
      </table>
    </P>

    <P>
      <small>
        Site content, the project software, and data are covered by the <a href="https://creativecommons.org/licenses/by/4.0/" data-testid="footer-creative-commons">Creative Commons Attribution 4.0 International License</a>
      </small>
    </P>
    </div>

{% include 'jinja2_pages/reusable_components/_feedback_widget.html' %}

    Rendered in {{ g.request_time() }} seconds using <a href="https://flask.palletsprojects.com/" data-testid="footer-flask">Flask</a>
    </footer>