{% include 'jinja2_pages/reusable_components/_js_buttons_and_text_highlight.html' %}
{% include 'jinja2_pages/reusable_components/_js_highlight_anchor.html' %}
{% include 'jinja2_pages/reusable_components/_js_mathjax.html' %}
{% include 'jinja2_pages/reusable_components/_js_prevent_button_being_pressed_twice.html' %}
{% include 'jinja2_pages/reusable_components/_js_render_mathjax_from_input_field.html' %}
{% include 'jinja2_pages/reusable_components/_js_schema_declaration.html' %}
{% include 'jinja2_pages/reusable_components/_js_sort_table.html' %}
{% include 'jinja2_pages/reusable_components/_js_validate_ascii.html' %}
{% include 'jinja2_pages/reusable_components/_js_render_latex_png.html' %}
{% include 'jinja2_pages/reusable_components/_js_fuzzy_search_Levenshtein.html' %}
{% include 'jinja2_pages/reusable_components/_js_export_table_to_CSV.html' %}