
<!-- as per https://csvbase.com/blog/13 -->
<!-- see https://schema.org/WebPage -->  
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "headline": "Physics Derivation Graph",
    "url": "https://allofphysics.com",
    "description": "Mathematical physics derivations as a graph",
    "author": {
        "@type": "Person",
        "name": "Ben Payne",
        "email": "ben.is.located@gmail.com"
    },
    "license": "https://creativecommons.org/licenses/by/4.0/",
    "datePublished": "2025-01-05",
    "dateCreated": "2025-01-05",
    "dateModified": "2025-01-05"
}
</script>

