
<!--
dict_of_derivations_that_use_feed:
{{dict_of_derivations_that_use_feed}}

list_of_feeds:
<ul>
{% for this_feed_dict in list_of_feeds %}
<li>{{ this_feed_dict }}</li>
{% endfor %}
</ul>


sympy_as_latex_per_feed_id:
{{sympy_as_latex_per_feed_id}}

symbols_per_feed_id:
{{symbols_per_feed_id}}
-->

<table border="1" id="feed_table" class="sortable">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
    <th>used in derivation</th>
    <TH>symbols</TH>
<!--    <TH>operations</TH> -->
    <th><a href="https://www.sympy.org/">sympy</a></th>
    <th><a href="https://github.com/leanprover/lean4">lean 4</a></th>
  </tr>
  {% for feed_dict in list_of_feeds %}
  <tr>
    <td id="{{ feed_dict['id'] }}">
      <a href="{{ url_for('to_edit_feed', feed_id=feed_dict['id'] ) }}" title="see more about this feed">
          {{ feed_dict['id'] }}
      </a>
    </td>
    <!-- Latex like `r_{\rm Earth}` get interpreted by Jinja2.
         Previously this was addressed by replacing `\` with `\\` which also makes the string safe for JSON.
         Now I'm using Jinja2 manual escape, as documented on
         https://jinja.palletsprojects.com/en/3.0.x/templates/#working-with-manual-escaping
      -->
    <td>\( {{ feed_dict['latex']|e }} \)<BR><BR>
           {{ feed_dict['latex']|e }}</td>
    <td>{{ feed_dict['name_latex'] }}</td>
    <td>{{ feed_dict['description_latex'] }}</td>
    <td><UL>{% for derivation_dict in dict_of_derivations_that_use_feed[feed_dict['id']] %}
      
        <LI><a href="{{ url_for('to_review_derivation', derivation_id=derivation_dict['id']) }}">{{ derivation_dict['name_latex'] }}</a></LI>
      
        {% endfor %}
        </UL>
    </td> <!-- used in derivation -->
    <td><UL>{% for symbol_dict in symbols_per_feed_id[feed_dict['id']] %}
        <LI><a href="{{ url_for('to_edit_node', node_id=symbol_dict['id']) }}" title="see more about this symbol">
             {{ symbol_dict['id'] }}</a>:  \( {{ symbol_dict['latex']|e }} \)</LI>
      {% endfor %}
      </UL>
    </td> <!-- symbols -->
    <!--<td><UL>{ % for operation_id in operations_per_feed[feed_dict['id']] %}
      
        <LI><a href="{ { url_for('to_edit_operation', operation_id=operation_id) }}">{ { dict_of_all_operation_dicts[operation_id]['id'] }}</a>: 
            { { dict_of_all_operation_dicts[operation_id]['latex'] }}</LI>
      
      { % endfor %}
      </UL>
    </td> <!-- operations -->
    <td>
      <P>{{ feed_dict['sympy'] }}
      <P>{{ sympy_as_latex_per_feed_id[feed_dict['id']] }}
    </td>
    <td>{{ feed_dict['lean'] }}</td>
  </tr>
  {% endfor %}
</table>
