<!--
<P>list_of_expressions:<BR>
  {{ list_of_expressions }}
-->

<table border="1" id="table_to_search" class="sortable">
  <tr>
    <th>ID</th>
    <th>latex</th>
  </tr>
  {% for expression_dict in list_of_expressions %}
  <tr>
    <td id="{{ expression_dict['id'] }}">
      <a href="{{ url_for('to_edit_expression', expression_id=expression_dict['id'] ) }}" title="see more about this expression">
          {{ expression_dict['id'] }}
      </a>
    </td>
    <!-- Latex like `r_{\rm Earth}` get interpreted by Jinja2.
         Previously this was addressed by replacing `\` with `\\` which also makes the string safe for JSON.
         Now I'm using Jinja2 manual escape, as documented on
         https://jinja.palletsprojects.com/en/3.0.x/templates/#working-with-manual-escaping
      -->
    <td>\( {{ expression_dict['latex_lhs']|e }} {{ expression_dict['latex_relation']|e }} {{ expression_dict['latex_rhs']|e }} \)<BR>
           {{ expression_dict['latex_lhs']|e }} {{ expression_dict['latex_relation']|e }} {{ expression_dict['latex_rhs']|e }}</td>
  </TR>
  {% endfor %}
</table>