<!-- see https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ii-templates -->
<!DOCTYPE html>
<HTML lang='en'>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% if title %}
    <title>Physics Derivation Graph: {{ title }}</title>
    {% else %}
    <title>Welcome to the Physics Derivation Graph</title>
    {% endif %}

  </head>
  <body>
  {% block content %}

  {% endblock %}

<P>timing of queries (in seconds):{% for what_is_being_timed,duration_in_seconds in query_time_dict.items() %}
  <UL>
  <LI>{{ what_is_being_timed }}, {{ duration_in_seconds }}</LI>
</UL>
{% endfor %}

  
  </body>
</html>
