
<!--
<P>For debugging purposes, here is the all the info available:

<!- - { { list_of_symbol_dicts } } - ->

<ul>
{ % for this_symbol_dict in list_of_dimension0_symbol_dicts %}
<li>{ { this_symbol_dict }}</li>
{ % endfor %}
</ul>
-->

<table border="1" id="symbol_table" class="sortable">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
    <th>scope</th>
    <th>domain</th>
    <th>used in expression</th>
    <th>used in derivation</th>
    <th>variable or constant</th>
    <th>reference</th>
    <th><small>dimension:</small> time</th>
    <th><small>dimension:</small> length</th>
    <th><small>dimension:</small> mass</th>
    <th><small>dimension:</small> electric charge</th>
    <th><small>dimension:</small> luminous intensity</th>
    <th><small>dimension:</small> amount of substance</th>
    <th><small>dimension:</small> temperature</th>
  </tr>
  {% for symbol_dict in list_of_dimension0_symbol_dicts %}
  <tr>
    <td>
      <a href="{{ url_for( 'to_edit_symbol', symbol_id=symbol_dict['id'] ) }}">
          {{ symbol_dict['id'] }}
      </a>
    </td>
    <td>\({{ symbol_dict['latex']}}\)<BR>
          {{ symbol_dict['latex']}}</td>
    <td>{{ symbol_dict['name_latex'] }}</td>
    <td>{{ symbol_dict['description_latex'] }}</td>
    <td>{{ symbol_dict['scope'] }}</td>
    <td>{{ symbol_dict['domain'] }}</td>
    <td>{% for expression_dict in dict_of_expressions_that_use_symbol[symbol_dict['id']] %}
      <UL>
        <LI><a href="{{ url_for('to_edit_expression', expression_id=expression_dict['id']) }}?referrer=table_of_symbols_requires_arguments">{{ expression_dict['id'] }}</a></LI>
      </UL>
        {% endfor %}
    </td> <!-- used in expressions -->
    <td>{% for derivation_dict in dict_of_derivations_that_use_symbol[symbol_dict['id']] %}
      <UL>
        <LI><a href="{{ url_for('to_review_derivation', derivation_id=derivation_dict['id']) }}">{{ derivation_dict['name_latex'] }}</a></LI>
      </UL>
        {% endfor %}
    </td> <!-- used in derivation -->
    <td>{{ symbol_dict['variable_or_constant'] }}</td>
    <td>{{ symbol_dict['symbol_reference'] }}</td>
    <td>{{ symbol_dict['dimension_time'] }}</td>
    <td>{{ symbol_dict['dimension_length'] }}</td>
    <td>{{ symbol_dict['dimension_mass'] }}</td>
    <td>{{ symbol_dict['dimension_electric_charge'] }}</td>
    <td>{{ symbol_dict['dimension_luminous_intensity'] }}</td>
    <td>{{ symbol_dict['dimension_amount_of_substance'] }}</td>
    <td>{{ symbol_dict['dimension_temperature'] }}</td>
  </tr>
  {% endfor %}
</table>
