<P>For debugging purposes, here is the all the info available:

<!-- { { list_of_expression_dicts } } -->

<ul>
{% for this_expression_dict in list_of_expression_dicts %}
<li>{{ this_expression_dict }}</li>
{% endfor %}
</ul>

<table border="1" id="expression_table" class="sortable">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
    <th>used in derivation</th>
    <TH>symbols</TH>
<!--    <TH>operations</TH> -->
    <th><a href="https://www.sympy.org/">sympy</a></th>
    <th><a href="https://github.com/leanprover/lean4">lean 4</a></th>
  </tr>
  {% for expression_dict in list_of_expression_dicts %}
  <tr>
    <td>
      <a href="{{ url_for( 'to_edit_expression', expression_id=expression_dict['id'] ) }}">
          {{ expression_dict['id'] }}
      </a>
    </td>
    <!-- Latex like `r_{\rm Earth}` get interpreted by Jinja2.
         Previously this was addressed by replacing `\` with `\\` which also makes the string safe for JSON.
         Now I'm using Jinja2 manual escape, as documented on
         https://jinja.palletsprojects.com/en/3.0.x/templates/#working-with-manual-escaping
      -->
    <td>\({{ expression_dict['latex']|e }}\)<BR>
          {{ expression_dict['latex']|e }}</td>
    <td>{{ expression_dict['name_latex'] }}</td>
    <td>{{ expression_dict['description_latex'] }}</td>
    <td>TODO</td> <!-- derivation -->
    <td>{% for symbol_id in symbols_per_expression[expression_dict['id']] %}
      <UL>
        <LI><a href="{{ url_for('to_edit_symbol', symbol_id=symbol_id) }}">{{ dict_of_all_symbol_dicts[symbol_id]['id'] }}</a>: 
            {{ dict_of_all_symbol_dicts[symbol_id]['latex'] }}</LI>
      </UL>
      {% endfor %}
    </td> <!-- symbols -->
    <!--<td>{ % for operation_id in operations_per_expression[expression_dict['id']] %}
      <UL>
        <LI><a href="{ { url_for('to_edit_operation', operation_id=operation_id) }}">{ { dict_of_all_operation_dicts[operation_id]['id'] }}</a>: 
            { { dict_of_all_operation_dicts[operation_id]['latex'] }}</LI>
      </UL>
      { % endfor %}
    </td> <!-- operations -->
    <td>{{ expression_dict['sympy'] }}</td>
    <td>{{ expression_dict['lean'] }}</td>
  </tr>
  {% endfor %}
</table>
