<P>For debugging purposes, here is the all the info available:

<!-- { { list_of_operator_dicts } } -->

<ul>
{% for this_operator_dict in list_of_operator_dicts %}
<li>{{ this_operator_dict }}</li>
{% endfor %}
</ul>

<table border="1" id="operator_table">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
    <th>used in</th>
  </tr>
  {% for operator_dict in list_of_operator_dicts %}
  <tr>
    <td>
      <a href="{{ url_for( 'to_edit_operator', operator_id=operator_dict['id'] ) }}">
          {{ operator_dict['id'] }}
      </a>
    </td>
    <td>{{ operator_dict['latex']}}</td>
    <td>{{ operator_dict['name_latex'] }}</td>
    <td>{{ operator_dict['description_latex'] }}</td>
    <td>TODO</td>
  </tr>
  {% endfor %}
</table>
