<P>For debugging purposes, here is the all the info available:

<!-- { { list_of_operation_dicts } } -->

<ul>
{% for this_operation_dict in list_of_operation_dicts %}
<li>{{ this_operation_dict }}</li>
{% endfor %}
</ul>

<table border="1" id="operation_table">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
    <th>used in expression</th>
  </tr>
  {% for operation_dict in list_of_operation_dicts %}
  <tr>
    <td>
      <a href="{{ url_for( 'to_edit_operation', operation_id=operation_dict['id'] ) }}">
          {{ operation_dict['id'] }}
      </a>
    </td>
    <td>{{ operation_dict['latex']}}</td>
    <td>{{ operation_dict['name_latex'] }}</td>
    <td>{{ operation_dict['description_latex'] }}</td>
    <td>TODO</td>
  </tr>
  {% endfor %}
</table>
