{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=edit_step">main page</a>
</P>

<fieldset>
  <legend>
    <H2>Provide <a href="https://www.sympy.org/">SymPy</a> and <a href="https://github.com/leanprover/lean4">Lean</a></H2>
  </legend>

<P>\({{ expression_dict['latex'] }}\)

<P>{{ expression_dict['latex'] }}

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>{{ form.sympy.label}}: {{ form.sympy(size=50, maxlength=1000, value=sympy_expr) }}</P>
    <P>{{ form.lean.label}}: {{ form.lean(size=50, maxlength=1000) }}</P>

    <P><input type="submit" name="submit_button" value="update expressions"></P>
  </form>


</fieldset>



{% endblock %}
