{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=symbol_scalar_edit">main page</a>
  or return to <a href="{{ url_for('to_list_scalars') }}?referrer=symbol_scalar_edit">list of all scalar symbols</a>
</P>

<P>Scalar dict: {{ scalar_dict }}

<P>TODO: list of derivations that use this scalar

<fieldset>
  <legend>
    <H2>Edit scalar</h2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>
      {{ form.scalar_latex.label}}: {{ form.scalar_latex(size=50, maxlength=1000, value=scalar_dict['latex']) }} <BR/>
      &nbsp;<BR/>
      {{form.scalar_name.label }}: {{ form.scalar_name(size=50, maxlength=1000, value=scalar_dict['name']) }}<BR/>
      &nbsp;<BR/>
      {{form.scalar_description.label }}: {{ form.scalar_description(size=50, maxlength=1000, value=scalar_dict['description']) }}<BR/>
      &nbsp;<BR/>
      <input type="submit" value="Edit scalar">
    </P>
  </form>

TODO: edit dimension

</fieldset>

<fieldset>
  <legend>
    <H2>Delete scalar</H2>
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_no_options.csrf_token }}
  <P>

  <input type="submit" value="Delete scalar">

</form>
</fieldset>


{% endblock %}
