{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=symbol_create">main page</a>
  or return to <a href="{{ url_for('to_list_symbols') }}?referrer=operation_create">list of all symbols</a>
</P>

<P>See <a href="https://physicsderivationgraph.blogspot.com/2024/05/distinguishing-scalars-vectors-and.html">distinguishing scalars, vectors, and matrices as operators or symbols</a></P>

<P>Symbol dict: {{ symbol_dict }}

<fieldset>
  <legend>
    <H2>symbol dimension count</H2>
  </legend>

<UL>
  <LI>dimension = 0; aka scalar</LI>
  <LI>dimension = 1; aka vector: 1xn or nx1</LI>
  <LI>dimension = 2; aka matrix: nxm</LI>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_symbol_properties.csrf_token }}

    <P>{{form_symbol_properties.dimension_count.label }} (<B>required</B>): {{ form_symbol_properties.dimension_count() }}</P>

    <P><input type="submit" value="specify dimension count for symbol"></P>
    </P>
  </form>
</fieldset>

<P>{% include '_table_of_symbols_dimension0.html' %}
<P>{% include '_table_of_symbols_dimension1.html' %}
<P>{% include '_table_of_symbols_dimension2ormore.html' %}



<script>
function select_symbol() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('symbol_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("symbol_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>



{% endblock %}
