# Set default values for all following accounts.
defaults
port 587
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile ~/.msmtp.log

account gmail
host smtp.gmail.com
from ben.is.located@gmail.com
auth on
user ben.is.located@gmail.com
passwordeval gpg --no-tty --quiet --decrypt ~/.msmtp-gmail.gpg

# Set a default account
account default : gmail