{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=expression_list">main page</a>
</P>

<fieldset>
<legend>
  <H2>List of Expressions</h2>
</legend>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
Case-insensitive dynamic search of latex as plain text: <input type="text" id="latex_input" onkeyup="latex_filter()" placeholder="Search latex (plain text)" size="50">



<script>
function latex_filter() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("latex_input");
  filter = input.value.toUpperCase();
  table = document.getElementById("expression_table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    console.log(td)
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>



<P>The expression ID links to a page where you can edit the expression<BR>

<P>{% include '_table_of_expressions.html' %}

</fieldset>

<fieldset>
<legend>
  <H2>Actions for Expressions</h2>
</legend>
<a href="{{ url_for('to_add_expression') }}?referrer=expression_list">add new expression</a>
</fieldset>


{% endblock %}
