{% extends "_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=inference_rule_edit">main page</a>
or return to <a href="{{ url_for('to_list_inference_rules') }}?referrer=inference_rule_edit">list of inference rules</a>
</P>

<P>Used in the following derivations: 
  {% for derivation_dict in list_of_derivation_dicts_that_use_this_inference_rule_id %}
  <UL>
    <LI>{{ derivation_dict }}</LI>
  </UL>
{% endfor %}

<fieldset>
  <legend>
    <H2>Edit Inference Rule {{ inference_rule_dict['name_latex'] }}</h2>
  </legend>
<!--
<P>{ { inference_rule_dict } }
-->
<P>TODO: editing the inference rule could break derivations.
  
  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_edit.csrf_token }}
    <P>
      {{ form_edit.inference_rule_name.label}}: {{ form_edit.inference_rule_name(size=50, maxlength=1000, value=inference_rule_dict['name_latex']) }} <BR/>
      &nbsp;Must be unique compared to all other inference rule names.<BR/>
      {{form_edit.inference_rule_latex.label }}: {{ form_edit.inference_rule_latex(size=50, maxlength=1000, value=inference_rule_dict['latex']) }}
      Refer to feeds using <code>$#1$</code> and refer to expressions using <code>Eq.~\ref{eq:#2}</code>
      <BR/>
      &nbsp;<BR/>
      {{form_edit.inference_rule_number_of_inputs.label }}: {{ form_edit.inference_rule_number_of_inputs(value=inference_rule_dict['number_of_inputs']) }} <BR/>
      &nbsp;<BR/>
      {{form_edit.inference_rule_number_of_feeds.label }}: {{ form_edit.inference_rule_number_of_feeds(value=inference_rule_dict['number_of_feeds']) }} <BR/>
      &nbsp;<BR/>
      {{form_edit.inference_rule_number_of_outputs.label }}: {{ form_edit.inference_rule_number_of_outputs(value=inference_rule_dict['number_of_outputs']) }} <BR/>
      &nbsp;<BR/>
      <input type="submit" value="Update inference rule">
    </P>
  </form>

</fieldset>

<fieldset>
  <legend>
    <H2>Delete Inference Rule</H2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_delete.csrf_token }}
    <P>

    <input type="submit" value="delete inference rule">

  </form>
</fieldset>

{% endblock %}
