{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=feed_list">main page</a>
</P>

<fieldset>
<legend>
  <H2>List of Feeds</h2>
</legend>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
Case-insensitive dynamic search of latex as plain text: <input type="text" id="feed_input" onkeyup="select_feed()" placeholder="Search latex (plain text)" size="50">

<script>
function select_feed() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('feed_input');
  filter = input.value.toUpperCase();
  // 2023-12-17: below was previously for UL/LI but I switched to TR/TD since the derivations are a table.
  tr = document.getElementById("feed_table");
  td = tr.getElementsByTagName('td');

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1]; // latex column
    console.log(td)
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<P>The Feed ID links to a page where you can edit the feed<BR>

<P>{% include 'jinja2_pages/reusable_components/_table_of_feeds.html' %}

</fieldset>

<fieldset>
<legend>
  <H2>Actions for Feeds</h2>
</legend>
<a href="{{ url_for('to_add_feed') }}?referrer=feed_list">add new feed</a>
</fieldset>



{% endblock %}
