{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('main') }}?referrer=inference_rule_edit">main page</a>
or return to <a href="{{ url_for('to_list_inference_rules') }}?referrer=inference_rule_edit">list of inference rules</a>
</P>


<fieldset>
  <legend>
    <H2>Edit Inference Rule {{ inference_rule_dict['name_latex'] }}</h2>
  </legend>
<!--
<P>{ { inference_rule_dict } }
-->

  
  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_edit.csrf_token }}
    <P>
      {{ form_edit.inference_rule_name.label}}: {{ form_edit.inference_rule_name(size=50, maxlength=1000, value=inference_rule_dict['name_latex']) }} Must be unique compared to all other inference rule names.<BR/>
      {{form_edit.inference_rule_latex.label }}: {{ form_edit.inference_rule_latex(size=50, maxlength=1000, value=inference_rule_dict['latex']) }}
      Refer to feeds using <code>$#1$</code> and refer to expressions using <code>Eq.~\ref{eq:#2}</code>
      <BR/>


     {% if list_of_derivation_dicts_that_use_this_inference_rule_id|length < 1 %}

      &nbsp;<BR/>
      {{form_edit.inference_rule_number_of_inputs.label }}: {{ form_edit.inference_rule_number_of_inputs(value=inference_rule_dict['number_of_inputs']) }} <BR/>
      &nbsp;<BR/>
      {{form_edit.inference_rule_number_of_feeds.label }}: {{ form_edit.inference_rule_number_of_feeds(value=inference_rule_dict['number_of_feeds']) }} <BR/>
      &nbsp;<BR/>
      {{form_edit.inference_rule_number_of_outputs.label }}: {{ form_edit.inference_rule_number_of_outputs(value=inference_rule_dict['number_of_outputs']) }} <BR/>
      &nbsp;<BR/>

      {% else %}

      <P>Editing the number of inputs, feeds, and outputs is disabled because 
        {{ inference_rule_dict['name_latex'] }}
        is used in the following derivations: 
        <table border="1" id="derivation_use_edit_io_table" class="sortable">
          <tr>
            <th>name</th>
            <th>abstract</th>
            <th>reference</th>
            <th>author</th>
          </tr>
          {% for derivation_dict in list_of_derivation_dicts_that_use_this_inference_rule_id %}
          <tr>
            <td>
              <a href="{{ url_for('to_review_derivation', derivation_id=derivation_dict['id'] ) }}">
                {{ derivation_dict['name_latex'] }}
              </a>
            </td>
            <td>{{ derivation_dict['abstract_latex']}}</td>
            <td>{{ derivation_dict['reference_latex'] }}</td>
            <td>{{ derivation_dict['author_name_latex'] }}</td>
          </tr>
          {% endfor %}
        </table>

      {% endif %}


      <input type="submit" name="submit_button" value="Update inference rule">
    </P>
  </form>

</fieldset>

<fieldset>
  <legend>
    <H2>Delete Inference Rule</H2>
  </legend>

     {% if list_of_derivation_dicts_that_use_this_inference_rule_id|length < 1 %}

  <!--<form method="post" action="" onsubmit="return checkForm(this);">-->
    <form method="post" action="">
    {{ form_delete.csrf_token }}
    <!--<P><B>WARNING!!</B> This should only be enabled if the inference rule is not in use in any derivation.<BR>
      Deleting an inference rule that is in use causes the graph to enter an invalid schema -- a step without an inference rule.
    -->
    <P><input type="submit" name="submit_button" value="delete inference rule">

  </form>


      {% else %}
      <P>Editing the number of inputs, feeds, and outputs is disabled because 
        {{ inference_rule_dict['name_latex'] }}
        is used in the following derivations: 
        <table border="1" id="derivation_use_edit_io_table" class="sortable">
          <tr>
            <th>name</th>
            <th>abstract</th>
            <th>reference</th>
            <th>author</th>
          </tr>
          {% for derivation_dict in list_of_derivation_dicts_that_use_this_inference_rule_id %}
          <tr>
            <td>
              <a href="{{ url_for('to_review_derivation', derivation_id=derivation_dict['id'] ) }}">
                {{ derivation_dict['name_latex'] }}
              </a>
            </td>
            <td>{{ derivation_dict['abstract_latex']}}</td>
            <td>{{ derivation_dict['reference_latex'] }}</td>
            <td>{{ derivation_dict['author_name_latex'] }}</td>
          </tr>
          {% endfor %}
        </table>

      {% endif %}

</fieldset>

{% endblock %}
