{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=inference_rule_list">navigation page</a>
</P>

<!--
<P>list_of_derivations_used_per_inference_rule:
{ { list_of_derivations_used_per_inference_rule } }
-->

<fieldset>
<legend>
  <H2>List of Inference Rules</h2>
</legend>


<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
Case-insensitive dynamic search of latex as plain text: <input type="text" id="latex_input" onkeyup="latex_filter()" placeholder="Search latex (plain text)" size="50">


<script>
function latex_filter() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("latex_input");
  filter = input.value.toUpperCase();
  table = document.getElementById("inference_rule_table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    console.log(td)
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


<P>The inference rule ID links to a page where you can edit the inference rule<BR>

<P>{% include 'jinja2_pages/reusable_components/_table_of_inference_rules.html' %}

</fieldset>

<fieldset>
<legend>
  <H2>Actions for Inference Rules</h2>
</legend>

<P><a href="{{ url_for('to_add_inference_rule')  }}?referrer=inference_rule_list">add inference rule</a>
</fieldset>

{% endblock %}
