{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=derivation_list">navigation page</a>
</P>

<!--
  {{list_of_derivations}}
-->

{% if list_of_derivations|length > 0 %}

<fieldset>
  <legend>
    <H2>List of Derivations</h2>
  </legend>


  <P>To select a derivation click on a link in the table.

  <P>To filter the table of derivations enter a derivation ID or string in the form field.<BR>

  <P><label for="searchbox">Case-insensitive fuzzy Search:</label>
  <input type="text" id="searchbox" name="search" placeholder="Look for" size="100">

  <P>The derivation ID below links to a page where you can review that derivation.

  <P><button onclick="exportTableToCSV(&#39;table_to_search&#39;, &#39;derivations.csv&#39;)">Export Table To CSV File</button>


  <P>{% include 'jinja2_pages/reusable_components/_table_of_derivations.html' %}

</fieldset>

{% endif %}

<fieldset>
  <legend>
    <H2>Actions for Derivations</h2>
  </legend>
  <a href="{{ url_for('to_add_derivation') }}?referrer=main">add new derivation</a>
</fieldset>


{% endblock %}
