{% extends "jinja2_pages/reusable_components/_base.html" %}
{% include "jinja2_pages/reusable_components/_login_toptable.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=derivation_edit_metadata">navigation page</a>
</P>

{{ derivation_dict }}

<fieldset>
  <legend>
    <H2>Edit metadata for Derivation {{ derivation_dict['name_latex'] }}</h2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>
      {{ form.derivation_name_latex.label}}:                was {{ derivation_dict['name_latex'] }}; 
      reset to 
      {{ form.derivation_name_latex(size=50, maxlength=1000, value=derivation_dict['name_latex']) }} <BR/>
      &nbsp;<BR/>
      {{form.abstract_latex.label }}:                was {{ derivation_dict['abstract_latex'] }}; 
      reset to 
      {{ form.abstract_latex(size=50, maxlength=1000, value=derivation_dict['abstract_latex']) }}<BR/>
      &nbsp;<BR/>

      {{ form.derivation_reference_latex}}:                      was {{ derivation_dict['reference_latex'] }}; 
      reset to 
      {{ form.derivation_reference_latex(size=50, maxlength=1000, value=derivation_dict['reference_latex']) }} <BR/>
      &nbsp;<BR/>

      <input type="submit" value="edit derivation metadata">
    </P>
  </form>

</fieldset>


{% endblock %}
