{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=derivation_list">navigation page</a>
</P>

<!--
  {{list_of_derivation_dicts}}
-->

{% if list_of_derivation_dicts|length > 0 %}

<fieldset>
  <legend>
    <H2>List of Derivations</h2>
  </legend>


  <P>To select a derivation click on a link in the table.

  <P>To filter the table of derivations enter a derivation ID or string in the form field.<BR>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
Case-insensitive dynamic search of latex as plain text: 
<input type="text" id="derivation_input" onkeyup="select_derivation()" placeholder="Search name (plain text)" size="50">

<script>
function select_derivation() {
  console.log('reached function')
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById('derivation_input');
  filter = input.value.toUpperCase();
  table = document.getElementById("derivation_table");

  tr = table.getElementsByTagName("tr");

  // Loop through all table rows; hide those who don't match the search query
  for (i = 1; i < tr.length; i++) {
    // search a single column:
    // td = tr[i].getElementsByTagName("td")[0]; // name column
    // console.log(td)
    // if (td) {
    //   txtValue = td.textContent || td.innerText;
    //   if (txtValue.toUpperCase().indexOf(filter) > -1) {
    //     tr[i].style.display = "";
    //   } else {
    //     tr[i].style.display = "none";
    //   }
    // }

    // Get the cells for column 0 and column 1
    var td0 = tr[i].getElementsByTagName("td")[0];
    var td1 = tr[i].getElementsByTagName("td")[1];

    // Initialize flags to track if a match is found in either column
    var matchFound = false;

    // Check column 0
    if (td0) {
      txtValue = td0.textContent || td0.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        matchFound = true;
      }
    }

    // If no match found in column 0, check column 1
    if (!matchFound && td1) {
      txtValue = td1.textContent || td1.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        matchFound = true;
      }
    }

    // If a match was found in either column, display the row, otherwise hide it
    if (matchFound) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }

  }
}
</script>


<!-- from https://www.codexworld.com/export-html-table-data-to-csv-using-javascript
      and https://www.codexworld.com/export-html-table-data-to-excel-using-javascript/
-->
<script>
  function downloadCSV(csv, filename) {
      var csvFile;
      var downloadLink;
      // CSV file
      csvFile = new Blob([csv], {type: "text/csv"});
      // Download link
      downloadLink = document.createElement("a");
      // File name
      downloadLink.download = filename;
      // Create a link to the file
      downloadLink.href = window.URL.createObjectURL(csvFile);
      // Hide download link
      downloadLink.style.display = "none";
      // Add the link to DOM
      document.body.appendChild(downloadLink);
      // Click download link
      downloadLink.click();
  }

  function exportTableToCSV(tableID, filename) {
    var csv = [];
    // TODO:
    // ideally I'd getElementById(tableID) and then extract rows,
    // but I don't know how to do that
    var rows = document.querySelectorAll("table tr");
    //var rows = document.getElementById(tableID)

    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++)
            row.push(cols[j].innerText);

        csv.push('"' + row.join(",") + '"');
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
  }
</script>

  <P>The derivation ID below links to a page where you can review that derivation.

<button onclick="exportTableToCSV(&#39;derivation_table&#39;, &#39;derivations.csv&#39;)">Export HTML Table To CSV File</button>


  <P>{% include 'jinja2_pages/reusable_components/_table_of_derivations.html' %}

</fieldset>

{% endif %}

<fieldset>
  <legend>
    <H2>Actions for Derivations</h2>
  </legend>
<a href="{{ url_for('to_add_derivation') }}?referrer=main">add new derivation</a>
</fieldset>


{% endblock %}
