{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=expression_list">navigation page</a>
</P>

{% if list_of_expressions|length > 0 %}

<fieldset>
<legend>
  <H2>List of Expressions</h2>
</legend>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
Case-insensitive dynamic search of latex as plain text: <input type="text" id="latex_input" onkeyup="latex_filter()" placeholder="Search latex (plain text)" size="50">

<script>
function latex_filter() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("latex_input");
  filter = input.value.toUpperCase();
  table = document.getElementById("expression_table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    console.log(td)
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


<!-- from https://www.codexworld.com/export-html-table-data-to-csv-using-javascript
      and https://www.codexworld.com/export-html-table-data-to-excel-using-javascript/
-->
<script>
  function downloadCSV(csv, filename) {
      var csvFile;
      var downloadLink;
      // CSV file
      csvFile = new Blob([csv], {type: "text/csv"});
      // Download link
      downloadLink = document.createElement("a");
      // File name
      downloadLink.download = filename;
      // Create a link to the file
      downloadLink.href = window.URL.createObjectURL(csvFile);
      // Hide download link
      downloadLink.style.display = "none";
      // Add the link to DOM
      document.body.appendChild(downloadLink);
      // Click download link
      downloadLink.click();
  }

  function exportTableToCSV(tableID, filename) {
    var csv = [];
    // TODO:
    // ideally I'd getElementById(tableID) and then extract rows,
    // but I don't know how to do that
    var rows = document.querySelectorAll("table tr");
    //var rows = document.getElementById(tableID)

    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++)
            row.push(cols[j].innerText);

        csv.push('"' + row.join(",") + '"');
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
  }
</script>


<P>The expression ID links to a page where you can edit the expression<BR>

<button onclick="exportTableToCSV(&#39;expression_table&#39;, &#39;expressions.csv&#39;)">Export HTML Table To CSV File</button>


<P>{% include 'jinja2_pages/reusable_components/_table_of_expressions.html' %}

</fieldset>

{% endif %}

<fieldset>
<legend>
  <H2>Actions for Expressions</h2>
</legend>
<a href="{{ url_for('to_add_expression') }}?referrer=expression_list">add new expression</a>
of the form<BR>
LHS RELATION RHS
</fieldset>


{% endblock %}
