{% extends "jinja2_pages/reusable_components/_base.html" %}
{% include "jinja2_pages/reusable_components/_login_toptable.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=expression_create">navigation page</a>
</P>


<fieldset>
  <legend>
    Create expression
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}

Latex:
<table border="1">
  <tr>
    <td>{{ form.expression_latex_lhs(size=50, 
                                maxlength=1000,
                                id="input_latex_lhs", 
                                type="text",
                                pattern="^[\x20-\x7F]+$", 
                                onkeyup="latex_filter()", 
                                oninput="validateASCII(this); livePreview('input_latex_lhs', 'display_input_latex_lhs', 'preview_input_latex_lhs', 'output_input_latex_lhs');", 
                                onchange="onChangeFunction();") }}</td>
<!-- https://github.com/allofphysicsgraph/ui_v8_website_flask_neo4j/issues/84 -->
    <td>

<!--
  2025-01-01: BHP wasn't able to figue out how to dynamically set the tuples in the class
{ { form.expression_relation() } }
-->

<!--
  {{list_of_relation_dicts}}
-->

    <select name="symbol_relation_id_to_add" class="selectpicker form-control" id="relation_select">
      {% for relation_dict in list_of_relations %}
      <option value="{{ relation_dict['id'] }}">\({{ relation_dict['latex'] }}\)</option>
      {% endfor %}
    </select>

    </td>
    <td>{{ form.expression_latex_rhs(size=50, 
                                maxlength=1000,
                                id="input_latex_rhs", 
                                type="text",
                                pattern="^[\x20-\x7F]+$", 
                                oninput="validateASCII(this); livePreview('input_latex_rhs', 'display_input_latex_rhs', 'preview_input_latex_rhs', 'output_input_latex_rhs');", 
                                onchange="onChangeFunction();") }}</td>
    <td>when</td>
    <td>{{ form.expression_latex_condition(size=50, 
                                maxlength=1000,
                                id="input_latex_condition", 
                                type="text",
                                pattern="^[\x20-\x7F]+$", 
                                oninput="validateASCII(this); livePreview('input_latex_condition', 'display_input_latex_condition', 'preview_input_latex_condition', 'output_input_latex_condition');", 
                                onchange="onChangeFunction();") }}</td>
<!-- https://github.com/allofphysicsgraph/ui_v8_website_flask_neo4j/issues/84 -->
  </tr>
  <tr>
    <td>{{ form.expression_latex_lhs.label}} (<B>required</B>)</td> <!-- LHS -->
    <td></td> <!-- relation -->
    <td>{{ form.expression_latex_rhs.label}} (<B>required</B>)</td> <!-- RHS -->
    <td></td> <!-- when -->
    <td>{{ form.expression_latex_condition.label}}<BR>
        Leave blank for "always true"</td> <!-- condition -->
  </tr>
  <tr>
    <td>
      <!--
      <input type="checkbox" 
              id="display_input_latex_lhs" 
              checked="" 
              onchange="convert('input_latex_lhs',
                                'display_input_latex_lhs', 
                                'preview_input_latex_lhs',
                                'output_input_latex_lhs')">
       <small><label id="display_input_latex_lhs">Display style</label></small>
       <input type="button" 
              value="optional preview of TeX before submitting" 
              id="preview_input_latex_lhs" 
              onclick="convert('input_latex_lhs',
                               'display_input_latex_lhs', 
                               'preview_input_latex_lhs',
                               'output_input_latex_lhs')">
              <br clear="all">
        -->
        <div id="output_input_latex_lhs"></div>
      </td> <!-- LHS -->
    <td></td> <!-- relation -->
    <td>   
      <!--
     <P><input type="checkbox" 
              id="display_input_latex_rhs" 
              checked="" 
              onchange="convert('input_latex_rhs',
                                'display_input_latex_rhs', 
                                'preview_input_latex_rhs',
                                'output_input_latex_rhs')">
       <small><label id="display_input_latex_rhs">Display style</label></small>
       <input type="button" 
              value="optional preview of TeX before submitting" 
              id="preview_input_latex_rhs" 
              onclick="convert('input_latex_rhs',
                               'display_input_latex_rhs', 
                               'preview_input_latex_rhs',
                               'output_input_latex_rhs')">
              <br clear="all">
            -->
        <div id="output_input_latex_rhs"></div>
    </td> <!-- RHS -->
    <td></td> <!-- when -->
    <td>
<!--
      <input type="checkbox" 
              id="display_input_latex_condition" 
              checked="" 
              onchange="convert('input_latex_condition',
                                'display_input_latex_condition', 
                                'preview_input_latex_condition',
                                'output_input_latex_condition')">
       <small><label id="display_input_latex_condition">Display style</label></small>
       <input type="button" 
              value="optional preview of TeX before submitting" 
              id="preview_input_latex_condition" 
              onclick="convert('input_latex_condition',
                               'display_input_latex_condition', 
                               'preview_input_latex_condition',
                               'output_input_latex_condition')">
              <br clear="all">
            -->
        <div id="output_input_latex_condition"></div>
      </td> <!-- condition -->
  </tr>
</table>


    <P>{{ form.expression_name_latex.label }} (optional): 
       {{ form.expression_name_latex(size=50, 
                                     type="text",
                                     pattern="^[\x20-\x7F]+$", 
                                     oninput="validateASCII(this)", 
                                     maxlength=1000) }}

    <P>{{ form.expression_reference_latex.label }} (optional): 
       {{ form.expression_reference_latex(size=50, 
                                          type="text",
                                          pattern="^[\x20-\x7F]+$", 
                                          oninput="validateASCII(this)", 
                                          maxlength=1000) }}


    <P>{{ form.expression_description_latex.label }} (optional): 
       {{ form.expression_description_latex(size=50, 
                                            type="text",
                                            pattern="^[\x20-\x7F]+$", 
                                            oninput="validateASCII(this)", 
                                            maxlength=1000) }}

    <P><input type="submit" value="add expression">
    </P>
  </form>




<script>
function latex_filter() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("input_latex_lhs");
  filter = input.value.toUpperCase();
  table = document.getElementById("expression_table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows (except header); then hide those who don't match the search query
  for (i = 1; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1]; // just "latex" column
    console.log(td)
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>




<fieldset>
  <legend>Actions</legend>
<ul>
  <LI><a href="{{ url_for('to_add_symbol_scalar') }}?referrer=new_step_select_expressions_for_inference_rule">add new scalar</a></LI>
  <LI><a href="{{ url_for('to_add_symbol_vector') }}?referrer=new_step_select_expressions_for_inference_rule">add new vector</a></LI>
  <LI><a href="{{ url_for('to_add_symbol_matrix') }}?referrer=new_step_select_expressions_for_inference_rule">add new matrix</a></LI>
  <LI><a href="{{ url_for('to_add_operation') }}?referrer=new_step_select_expressions_for_inference_rule">add new operation</a></LI>
  <LI><a href="{{ url_for('to_add_relation') }}?referrer=new_step_select_expressions_for_inference_rule">add new relation</a></LI>
</ul>
</fieldset>
  
</fieldset>

{% if list_of_expressions|length > 0 %}
{% include 'jinja2_pages/reusable_components/_table_of_expressions_mini.html' %}
{% endif %}

<script>
function select_expression() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('expression_input');
  filter = input.value.toUpperCase();
  ul = document.getElementById("expression_UL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>



{% endblock %}
