{% extends "jinja2_pages/reusable_components/_base.html" %}
{% include "jinja2_pages/reusable_components/_login_toptable.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=feed_edit">navigation page</a>
or return to <a href="{{ url_for('to_list_feeds') }}?referrer=feed_edit">list of feeds</a>
</P>

<!--
  symbols_in_feed:
  {{ symbols_in_feed }}

  symbols_not_in_feed:
  {{ symbols_not_in_feed }}
-->

<P>See also 
  <a href="{{ url_for('to_list_scalars') }}?referrer=expession_edit">scalar symbols</a>,
  <a href="{{ url_for('to_list_vectors') }}?referrer=expession_edit">vector symbols</a>,
  <a href="{{ url_for('to_list_matrices') }}?referrer=expession_edit">matrix symbols</a>.</P>

<P>TODO: list derivations that use this feed. That could help provide context.

<fieldset>
  <legend>
    <H2>Scalar symbols in Feed</h2>
  </legend>

<P>\({{ feed_dict['latex'] }}\)

<P>{{ feed_dict['latex'] }}
  
<table border="1" id="symbol_table" class="sortable">
  <tr>
    <th>ID</th>
    <th>latex</th>
    <th>name</th>
    <th>description</th>
    <th>reference</th>
    <th>dimension: time</th>
    <th>dimension: length</th>
    <th>dimension: mass</th>
    <th>dimension: electric charge</th>
    <th>dimension: luminous intensity</th>
    <th>dimension: amount of substance</th>
    <th>dimension: temperature</th>
    <th>scope</th>
    <th>domain</th>
  </tr>
  {% for symbol_dict in symbols_in_feed %}
  <tr>
    <td>
      <a href="{{ url_for('to_edit_scalar', scalar_id=symbol_dict['id'] ) }}">
          {{ symbol_dict['id'] }}
      </a>
    </td>
    <td>{{ symbol_dict['latex']}}<BR>
      \({{ symbol_dict['latex']}}\)</td>
    <td>{{ symbol_dict['name_latex'] }}</td>
    <td>{{ symbol_dict['description_latex'] }}</td>
    <td>{{ symbol_dict['symbol_reference'] }}</td>
    <td>{{ symbol_dict['dimension_time'] }}</td>
    <td>{{ symbol_dict['dimension_length'] }}</td>
    <td>{{ symbol_dict['dimension_mass'] }}</td>
    <td>{{ symbol_dict['dimension_electric_charge'] }}</td>
    <td>{{ symbol_dict['dimension_luminous_intensity'] }}</td>
    <td>{{ symbol_dict['dimension_amount_of_substance'] }}</td>
    <td>{{ symbol_dict['dimension_temperature'] }}</td>
    <td>{{ symbol_dict['symbol_scope'] }}</td>
    <td>{{ symbol_dict['symbol_domain'] }}</td>
  </tr>
  {% endfor %}
</table>

<fieldset>
  <legend>
    <H2>Add Symbol used in Feed</h2>
  </legend>
  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_no_options.csrf_token }}
    <P>
    <select name="symbol_select_id_to_add" class="selectpicker form-control" id="symbol_select">
      {% for symbol_dict in symbols_not_in_feed %}
      <option value="{{ symbol_dict['id'] }}">{{ symbol_dict['id'] }}, {{ symbol_dict['latex'] }} </option>
      {% endfor %}
    </select>
    <input type="submit" name="add symbol" value="add symbol to feed">
  </form>
</fieldset>

<fieldset>
  <legend>
    <H2>Remove Symbol used in Feed</h2>
  </legend>
  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_no_options.csrf_token }}
    <P>
    <select name="symbol_select_id_to_disconnect" class="selectpicker form-control" id="symbol_select">
      {% for symbol_dict in symbols_in_feed %}
      <option value="{{ symbol_dict['id'] }}">{{ symbol_dict['id'] }}, {{ symbol_dict['latex'] }} </option>
      {% endfor %}
    </select>
    <input type="submit" name="remove symbol" value="remove symbol from feed">
  </form>
</fieldset>

</fieldset>


  <fieldset>
    <legend>
      <H2>Edit Feed</h2>
    </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_edit_feed.csrf_token }}
    <P>{{ form_edit_feed.feed_latex.label}} (<B>required</B>): 
       {{ form_edit_feed.feed_latex(size=50, 
                    maxlength=1000, 
                    value=feed_dict['latex'],
                    id="input_latex") }} 

        <div id="output_input_latex"></div>


      <input type="submit" name="edit" value="Edit feed">
    </P>
  </form>
</fieldset>

  <fieldset>
    <legend>
      <H2>Delete Feed</h2>
    </legend>
    <P color="red">WARNING: THERE IS NO UNDO</P>
    <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_no_options.csrf_token }}

    <input type="submit" name="delete" value="Delete feed">
    </form>
</fieldset>

{% endblock %}
