{% extends "jinja2_pages/reusable_components/_base.html" %}
{% include "jinja2_pages/reusable_components/_login_toptable.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=inference_rule_create">navigation page</a>
</P>

<fieldset>
  <legend>
    <H2>Create new inference rule</H2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form.csrf_token }}
    <P>{{ form.inference_rule_name.label}} (<B>required</B>): 
       {{ form.inference_rule_name(size=50, 
                                   type="text",
                                   pattern="^[\x20-\x7F]+$", 
                                   oninput="validateASCII(this)", 
                                   minlength=5, maxlength=1000) }}</P>

    <P>{{ form.inference_rule_latex.label }} (<B>required</B>): 
       {{ form.inference_rule_latex(size=50, 
                                    type="text",
                                    pattern="^[\x20-\x7F]+$", 
                                    oninput="validateASCII(this)", 
                                    minlength=5, maxlength=1000) }}</P>

    <P>{{form.inference_rule_number_of_inputs.label }} (<B>required</B>): {{ form.inference_rule_number_of_inputs() }}</P>

    <P>{{form.inference_rule_number_of_feeds.label }} (<B>required</B>): {{ form.inference_rule_number_of_feeds() }}</P>

    <P>{{form.inference_rule_number_of_outputs.label }} (<B>required</B>): {{ form.inference_rule_number_of_outputs() }}</P>

    <P>The sum of input+feed+output must be greater than zero.

    <P><input type="submit" value="add inference rule"></P>
    
  </form>
</fieldset>

{% if list_of_inference_rule_dicts|length > 0 %}
<P>TODO: as the user types the name and latex, filter the table below on that text.

{% include 'jinja2_pages/reusable_components/_table_of_inference_rules.html' %}

{% endif %}

{% endblock %}
