{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}
{% include "jinja2_pages/reusable_components/_login_toptable.html" %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=new_step_select_inference_rule">navigation page</a>
</P>

<!-- TODO: sometimes "name_latex" won't look right in HTML -->
<P>Which inference rule does this new step use in the derivation 
  <a href="{{ url_for('to_review_derivation', derivation_id=derivation_dict['id']) }}">
{{ derivation_dict['name_latex'] }}</a>?</P>


{% if list_of_inference_rule_dicts|length > 0 %}

<!-- https://stackoverflow.com/questions/32019733/getting-value-from-select-tag-using-flask -->

<fieldset>
  <legend>
    <H2>Select inference rule for step</h2>
  </legend>

  <!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->


  <P><label for="searchbox">Case-insensitive fuzzy Search:</label>
  <input type="text" id="searchbox" name="search" placeholder="Look for" size="100">

  <P>Clicking on the inference rule ID selects that inference rule for the step<BR>
  <table border="1" id="table_to_search" class="sortable">
    <tr>
      <th>name</th>
      <th>latex</th>
      <th>input count</th>
      <th>feed count</th>
      <th>output count</th>
    </tr>
    {% for inference_rule_dict in list_of_inference_rule_dicts %}
    <tr>
      <td>
        <a href="{{ url_for('to_add_step_select_expressions',
        derivation_id=derivation_dict['id'],
        inference_rule_id=inference_rule_dict['id'] ) }}">
          {{ inference_rule_dict['name_latex'] }}
        </a>
      </td>
      <td><span class="mathjax_ignore">{{ inference_rule_dict['latex'] | safe }}</span></td> <!-- https://github.com/allofphysicsgraph/ui_v8_website_flask_neo4j/issues/119 -->
      <td>{{ inference_rule_dict['number_of_inputs'] }}</td>
      <td>{{ inference_rule_dict['number_of_feeds'] }}</td>
      <td>{{ inference_rule_dict['number_of_outputs'] }}</td>
    </tr>
    {% endfor %}
  </table>

  <P>The next step is to associate the inference rule with expressions. The expressions have to already exist in the database. 

</fieldset>

{% endif %}

<fieldset>
  <legend>
    <H2>Create new inference rule</h2>
  </legend>

  <P>
    If you don't see the inference rule you need, <BR>
      <a href="{{ url_for('to_add_inference_rule') }}?referrer=derivationID_{{derivation_dict['id']}}">
        Create a new inference rule</a>
  </P>
</fieldset>



{% endblock %}
