{% extends "jinja2_pages/reusable_components/_base.html" %}

{% include "jinja2_pages/reusable_components/_login_toptable.html" %}

{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=new_step_select_inference_rule">navigation page</a>
</P>

<!-- TODO: sometimes "name_latex" won't look right in HTML -->
<P>Which inference rule does this new step use in the derivation 
  <a href="{{ url_for('to_review_derivation', derivation_id=derivation_dict['id']) }}">
{{ derivation_dict['name_latex'] }}</a>?</P>


{% if list_of_inference_rule_dicts|length > 0 %}

<!-- https://stackoverflow.com/questions/32019733/getting-value-from-select-tag-using-flask -->

<fieldset>
  <legend>
    <H2>Select inference rule for step</h2>
  </legend>

  <!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->

Case-insensitive dynamic search of latex and name as plain text: <input type="text" id="inf_rule_input" onkeyup="latex_filter()" placeholder="Search latex or name as plain text" size="50">

<script>
function latex_filter() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("inf_rule_input");
  filter = input.value.toUpperCase();
  table = document.getElementById("inference_rule_table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows (except header); then hide those who don't match the search query
  for (i = 1; i < tr.length; i++) {
    // td = tr[i].getElementsByTagName("td")[1]; // just "latex" column
    // console.log(td)
    // if (td) {
    //   txtValue = td.textContent || td.innerText;
    //   if (txtValue.toUpperCase().indexOf(filter) > -1) {
    //     tr[i].style.display = "";
    //   } else {
    //     tr[i].style.display = "none";
    //   }
    // }

    var tdName = tr[i].getElementsByTagName("td")[0];
    var tdLatex = tr[i].getElementsByTagName("td")[1];
    
    if (tdName || tdLatex) {
      // Get text from both cells (using empty string if cell is missing)
      var nameValue = tdName ? (tdName.textContent || tdName.innerText) : "";
      var latexValue = tdLatex ? (tdLatex.textContent || tdLatex.innerText) : "";
      
      // Check if the filter matches either the name OR the latex
      if (nameValue.toUpperCase().indexOf(filter) > -1 || 
          latexValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }

  }
}
</script>



  <P>Clicking on the inference rule ID selects that inference rule for the step<BR>
  <table border="1" id="inference_rule_table" class="sortable">
    <tr>
      <th>name</th>
      <th>latex</th>
      <th>input count</th>
      <th>feed count</th>
      <th>output count</th>
    </tr>
    {% for inference_rule_dict in list_of_inference_rule_dicts %}
    <tr>
      <td>
        <a href="{{ url_for('to_add_step_select_expressions',
        derivation_id=derivation_dict['id'],
        inference_rule_id=inference_rule_dict['id'] ) }}">
          {{ inference_rule_dict['name_latex'] }}
        </a>
      </td>
      <td><span class="mathjax_ignore">{{ inference_rule_dict['latex'] | safe }}</span></td> <!-- https://github.com/allofphysicsgraph/ui_v8_website_flask_neo4j/issues/119 -->
      <td>{{ inference_rule_dict['number_of_inputs'] }}</td>
      <td>{{ inference_rule_dict['number_of_feeds'] }}</td>
      <td>{{ inference_rule_dict['number_of_outputs'] }}</td>
    </tr>
    {% endfor %}
  </table>

  <P>The next step is to associate the inference rule with expressions. The expressions have to already exist in the database. 

</fieldset>

{% endif %}

<fieldset>
  <legend>
    <H2>Create new inference rule</h2>
  </legend>

  <P>
    If you don't see the inference rule you need, <BR>
      <a href="{{ url_for('to_add_inference_rule') }}?referrer=derivationID_{{derivation_dict['id']}}">
        Create a new inference rule</a>
  </P>
</fieldset>



{% endblock %}
