{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=step_edit">navigation page</a>
  or return to <a href="{{ url_for('to_list_scalars') }}?referrer=step_edit">list of scalar symbols</a>
</P>

{{ step_dict }}

<!-- Render the initial values on page load -->
<script>
  window.addEventListener('load', function() {
    livePreview('note_before_step_latex', null, null, 'preview_before');
    livePreview('note_after_step_latex', null, null, 'preview_after');
  });
</script>

<fieldset>
  <legend>
    <H2>Edit Step</h2>
  </legend>

<P>change note before step

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_edit_step.csrf_token }}
    <P>{{ form_edit_step.note_before_step_latex.label}}: 
       {{ form_edit_step.note_before_step_latex(size=50, 
              maxlength=1000, 
              value=step_dict['note_before_step_latex']) }} 

    <P>{{ form_edit_step.note_after_step_latex.label }}: 
       {{ form_edit_step.note_after_step_latex(size=50, 
              maxlength=1000, 
              value=step_dict['note_after_step_latex']) }}<BR/>
      &nbsp;<BR/>
<P>      <input type="submit" name="edit" value="Edit step">
    </P>
  </form>

</fieldset>

<fieldset>
  <legend>
    Delete step
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_delete.csrf_token }}

  <input type="submit" name="delete" value="delete step">

</form>
</fieldset>




{% endblock %}
