{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=step_edit">navigation page</a>
  or return to <a href="{{ url_for('to_list_scalars') }}?referrer=step_edit">list of scalar symbols</a>
</P>

<P>step_dict:<BR>
{{ step_dict }}

<!-- Render the initial values on page load -->
<script>
  window.addEventListener('load', function() {
    livePreview('note_before_step_latex', null, null, 'preview_before');
    livePreview('note_after_step_latex', null, null, 'preview_after');
  });
</script>

<P>This step is used in <a href="{{ url_for('to_review_derivation', derivation_id=derivation_dict['id']) }}">{{ derivation_dict['name_latex'] }}</a>

<fieldset>
  <legend>
    <H2>Edit Notes</h2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_edit_step.csrf_token }}
    <P>{{ form_edit_step.note_before_step_latex.label}}: 
       {{ form_edit_step.note_before_step_latex(size=50, 
                                                maxlength=1000, 
                                    class_="latex-input", 
                                    data_target="note_before_latex_image",
                                    pattern="^[\x20-\x7F]+$", 
                                    oninput="validateASCII(this)", 
                                                value=step_dict['note_before_step_latex']) }} 
<P><img id="note_before_latex_image" src="" alt="Latex input" style="display: none;">
    <P>{{ form_edit_step.note_after_step_latex.label }}: 
       {{ form_edit_step.note_after_step_latex(size=50, 
                                               maxlength=1000, 
                                    class_="latex-input", 
                                    data_target="note_after_latex_image",
                                    pattern="^[\x20-\x7F]+$", 
                                    oninput="validateASCII(this)", 
                                               value=step_dict['note_after_step_latex']) }}<BR/>
<P><img id="note_after_latex_image" src="" alt="Latex input" style="display: none;">
      &nbsp;<BR/>
<P>      <input type="submit" name="edit" value="Edit step">
    </P>
  </form>

</fieldset>

<fieldset>
  <legend>
    <H2>Edit Sequence Number of Step</h2>
  </legend>
  {{ form_swap_index.csrf_token }}

<P>Current sequence index: {{ step_dict['sequence_index'] }}

<select name="sequence_field_name" class="selectpicker form-control" id="sequence_field_id">
{% for this_option in sequence_swap_list %}
<option value="{{ loop.index0 }}">{{ this_option }}</option>
{% endfor %}
</select>

<input type="submit" name="reorder indices of step" value="reorder step indices">

</fieldset>

<fieldset>
  <legend>
    Change Sequence of an Input Expression
  </legend>
  TODO
<form method="post" action="" onsubmit="return checkForm(this);">
{{ form_swap_input_indices.csrf_token }}

<input type="submit" name="reorder indices of input expressions" value="reorder input indices">

</form>
</fieldset>

<fieldset>
  <legend>
    Change Sequence of a Feed
  </legend>
  TODO
<form method="post" action="" onsubmit="return checkForm(this);">
{{ form_swap_feed_indices.csrf_token }}

<input type="submit" name="reorder indices of feeds" value="reorder feed indices">

</form>
</fieldset>

<fieldset>
  <legend>
    Change Sequence of an Output Expression
  </legend>
  TODO
<form method="post" action="" onsubmit="return checkForm(this);">
{{ form_swap_output_indices.csrf_token }}

<input type="submit" name="reorder indices of output expressions" value="reorder output indices">

</form>
</fieldset>

<fieldset>
  <legend>
    <H2>Replace Input Expressions</h2>
  </legend>
  <form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_swap_input_expressions.csrf_token }}

<P>Input Expressions in this step:

<select name="input_expression_used_field_name" class="selectpicker form-control" id="input_expression_used_field_id">
{% for this_expr in list_of_input_expressions_used_in_step %}
  <option value="{{ this_expr['id'] }}">{{ this_expr['id'] }}, {{ this_expr['latex_lhs'] }}{{ this_expr['latex_relation'] }}{{ this_expr['latex_rhs'] }}</option>
{% endfor %}
</select>

  <P>Select Input Expression to substitute:

<select name="input_expression_replacement_field_name" class="selectpicker form-control" id="input_expression_replacement_field_id">
{% for this_expr in list_of_expressions_with_symbols_used_in_derivation %}
  <option value="{{ this_expr['id'] }}">{{ this_expr['id'] }}, {{ this_expr['latex_lhs'] }}{{ this_expr['latex_relation'] }}{{ this_expr['latex_rhs'] }}</option>
{% endfor %}
</select>

<input type="submit" name="replace input expression" value="replace selected expression">

</form>
</fieldset>

<fieldset>
  <legend>
    <H2>Replace Feeds</h2>
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
{{ form_swap_feeds.csrf_token }}

  <P>Feeds used in this Step:

<select name="feed_used_field_name" class="selectpicker form-control" id="feed_used_field_id">
{% for this_feed in list_of_feeds_used_in_step %}
  <option value="{{ this_feed['id'] }}">{{ this_feed['id'] }}, {{ this_feed['latex'] }}</option>
{% endfor %}
</select>

  <P>Select Feed to substitute:

<select name="feed_replacement_field_name" class="selectpicker form-control" id="feed_replacement_field_id">
{% for this_feed in list_of_feeds_not_connected_to_any_step %}
  <option value="{{ this_feed['id'] }}">{{ this_feed['id'] }}, {{ this_feed['latex'] }}</option>
{% endfor %}
</select>

<input type="submit" name="replace feed" value="replace selected feed">

</form>
</fieldset>

<fieldset>
  <legend>
    <H2>Replace Output Expressions</h2>
  </legend>
  <form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_swap_output_expressions.csrf_token }}

<P>Output Expressions in this step:

<select name="output_expression_used_field_name" class="selectpicker form-control" id="output_expression_used_field_id">
{% for this_expr in list_of_output_expressions_used_in_step %}
  <option value="{{ this_expr['id'] }}">{{ this_expr['id'] }}, {{ this_expr['latex_lhs'] }}{{ this_expr['latex_relation'] }}{{ this_expr['latex_rhs'] }}</option>
{% endfor %}
</select>

  <P>Select Output Expression to substitute:

<select name="output_expression_replacement_field_name" class="selectpicker form-control" id="output_expression_replacement_field_id">
{% for this_expr in list_of_expressions_with_symbols_used_in_derivation %}
  <option value="{{ this_expr['id'] }}">{{ this_expr['id'] }}, {{ this_expr['latex_lhs'] }}{{ this_expr['latex_relation'] }}{{ this_expr['latex_rhs'] }}</option>
{% endfor %}
</select>

<output type="submit" name="replace output expression" value="replace selected expression">

</form>
</fieldset>


<fieldset>
  <legend>
    <H2>Delete Step</H2>
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_delete.csrf_token }}

  <input type="submit" name="delete" value="delete step">

</form>
</fieldset>




{% endblock %}
