{% extends "jinja2_pages/reusable_components/_base.html" %}
{% include "jinja2_pages/reusable_components/_login_toptable.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=symbol_create_pick_type">navigation page</a>
  or return to <a href="{{ url_for('to_list_matrices') }}?referrer=symbol_create_pick_type">list of matrices</a>
</P>

<fieldset>
  <legend>
    <H2>Pick type of Symbol to Create</H2>
  </legend>
  <UL>
  	<LI><a href="{{ url_for('to_add_symbol_scalar') }}?referrer=symbol_create_pick_type">scalar</a>  (Rank 0): Single values. Includes constants (e.g., pi, e, 42) and variables (e.g., x, y, c)</LI>
  	<LI><a href="{{ url_for('to_add_symbol_vector') }}?referrer=symbol_create_pick_type">vector</a> (Rank 1): Ordered lists of scalars (1xn or nx1)</LI>
  	<LI><a href="{{ url_for('to_add_symbol_matrix') }}?referrer=symbol_create_pick_type">matrix</a> (Rank 2): Grids of scalars (mxn)
</LI>
  	<LI><a href="{{ url_for('to_add_relation') }}?referrer=symbol_create_pick_type">relation</a>, e.g., =, >, <, <=, >=, \propto</LI>
    <LI><a href="{{ url_for('to_add_operation') }}?referrer=symbol_create_pick_type">operation</a>, e.g.,</LI>
    <UL>
      <LI>arithmetic: +, -, multiply, divide, mod
      <LI>Unary Operators: factorial, negation, square root, bar (mean)
      <LI>Linear Algebra Operators: Transpose, Determinant, Trace
      <LI>Calculus/Differential Operators: differential, nabla/del, laplacian
      <LI>Integrals
      <LI>Iterative Operators: Operations over a range (product, sum)
      <LI>Set operations, e.g., "is member of"
    </UL>
</UL>
</fieldset>

{% endblock %}


