{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<P>Return to <a href="{{ url_for('to_navigation') }}?referrer=symbol_scalar_list">navigation page</a></P>

<!--
<P>All symbols:
{ % for symbol_dict in list_of_symbols %}
<UL>
  <LI>{ { symbol_dict }}</LI>
</UL>
{ % endfor %}
-->

{% if list_of_scalars|length > 0 %}

<fieldset>
  <legend>
    <H2 id="scalar">There are {{ list_of_scalars|length }} Scalars, aka symbols of dimension 0</h2>
  </legend>

  <P>The symbol ID links to a page where you can edit the symbol<BR>

  <P><label for="searchbox">Case-insensitive fuzzy Search:</label>
  <input type="text" id="searchbox" name="search" placeholder="Look for">


  <P><button onclick="exportTableToCSV(&#39;table_to_search&#39;, &#39;expressions.csv&#39;)">Export Table To CSV File</button>

  {% include 'jinja2_pages/reusable_components/_table_of_symbols_scalar.html' %}

</fieldset>

{% endif %}

<fieldset>
  <legend>
    <H2 id="action">Actions for Scalar Symbols</h2>
  </legend>

  <P><a href="{{ url_for('to_add_symbol_scalar') }}?referrer=list_symbols">add new scalar symbol</a>

  <!--
    <P><a href="{ { url_for('to_add_symbol') }}?referrer=list_symbols">add new symbol</a> -- not clear which categorey; guide needed</P>
  -->
  </UL>

</fieldset>

<P>See also Wikipedia's <a href="https://en.wikipedia.org/wiki/Glossary_of_mathematical_symbols">list of symbols</a></P>

{% endblock %}