{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}
{% include "jinja2_pages/reusable_components/_login_toptable.html" %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=symbol_vector_edit">navigation page</a>
  or return to <a href="{{ url_for('to_list_scalars') }}?referrer=symbol_vector_edit">list of all vectors</a>
</P>

<P>vector dict: {{ vector_dict }}

<P>TODO: list of derivations that use this vector

<fieldset>
  <legend>
    <H2>Edit vector \( {{ vector_dict['latex'] }} \)</h2>
  </legend>
{% if current_user.is_authenticated %}
  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_vector_properties.csrf_token }}
    <P>
      {{ form_vector_properties.vector_latex.label}}: 
                {{ form_vector_properties.vector_latex(size=50, 
                                                       maxlength=1000, 
                                                       value=vector_dict['latex']|e) }} <BR/>
      &nbsp;<BR/>
      {{form_vector_properties.vector_name_latex.label }}: 
                {{ form_vector_properties.vector_name_latex(size=50, 
                                                            maxlength=1000, 
                        class_="latex-input", 
                        data_target="vector_name_latex_image",
                                                            value=vector_dict['name_latex']|e) }}<BR/>
<P><img id="vector_name_latex_image" src="" alt="Latex input" style="display: none;">
      &nbsp;<BR/>
      {{form_vector_properties.vector_description_latex.label }}: 
               {{ form_vector_properties.vector_description_latex(size=50, 
                                                                  maxlength=1000, 
                        class_="latex-input", 
                        data_target="vector_description_latex_image",
                                                                  value=vector_dict['description_latex']|e) }}<BR/>
<P><img id="vector_description_latex_image" src="" alt="Latex input" style="display: none;">
      &nbsp;<BR/>
      {{form_vector_properties.vector_reference_latex.label }}: 
               {{ form_vector_properties.vector_reference_latex(size=50, 
                                                                  maxlength=1000, 
                        class_="latex-input", 
                        data_target="vector_reference_latex_image",
                                                                  value=vector_dict['reference_latex']|e) }}<BR/>
<P><img id="vector_reference_latex_image" src="" alt="Latex input" style="display: none;">
      &nbsp;<BR/>
      <input type="submit" value="Edit vector">
    </P>
  </form>
{% else %}
    <p>You must be <a href="{{ url_for('to_login') }}">logged in</a> to edit the vector.</p>
{% endif %}
TODO: edit dimension

</fieldset>

<fieldset>
  <legend>
    <H2>Delete vector \( {{ vector_dict['latex'] }} \)</H2>
  </legend>
{% if current_user.is_authenticated %}
<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_no_options.csrf_token }}
  <P>

  <input type="submit" value="Delete vector">

</form>
{% else %}
    <p>You must be <a href="{{ url_for('to_login') }}">logged in</a> to delete the vector.</p>
{% endif %}
</fieldset>

{% if list_of_expression_dicts|length > 0 %}
<P>Here are expressions in which \( {{ vector_dict['latex'] }} \) appears:
{% include 'jinja2_pages/reusable_components/_table_of_expressions_mini.html' %}
{% else %}
<P>This Vector appears in no Expressions.</P>
{% endif %}

{% endblock %}
