{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}
{% include "jinja2_pages/reusable_components/_login_toptable.html" %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=symbol_operation_edit">navigation page</a>
  or return to <a href="{{ url_for('to_list_operations') }}?referrer=symbol_operation_edit">list of all operations</a>
</P>

<P>operation dict: {{ operation_dict }}

<P>TODO: list of derivations that use this operation

<fieldset>
  <legend>
    <H2>Edit operation \( {{ operation_dict['latex'] }} \)</h2>
  </legend>
{% if current_user.is_authenticated %}
  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_edit_operation.csrf_token }}
    <P>
      {{ form_edit_operation.operation_latex.label}} <B>(required)</B>: 
          {{ form_edit_operation.operation_latex(size=50, 
                                                 maxlength=1000, 
                                                 value=operation_dict['latex']) }} <BR/>
      &nbsp;<BR/>
      {{ form_edit_operation.operation_name_latex.label }} <B>(required)</B>: 
          {{ form_edit_operation.operation_name_latex(size=50, 
                                                      maxlength=1000, 
                                                      value=operation_dict['name_latex']) }}<BR/>
      &nbsp;<BR/>
      {{form_edit_operation.operation_description_latex.label }} <small><em>(optional)</em></small>: 
          {{ form_edit_operation.operation_description_latex(size=50, 
                                                             maxlength=1000, 
                                                             value=operation_dict['description_latex']) }}<BR/>
      &nbsp;<BR/>

      {{form_edit_operation.operation_argument_count.label }} <B>(required)</B>: 
           {{ form_edit_operation.operation_argument_count(
                                      value=operation_dict['argument_count']) }}<BR>
      &nbsp;<BR/>

      {{form_edit_operation.operation_reference_latex.label }} <small><em>(optional)</em></small>: {{form_edit_operation.operation_reference_latex(size=50, 
                                                  maxlength=1000, 
                                                   value=operation_dict['reference_latex']) }}<BR/>
      &nbsp;<BR/>

      <input type="submit" value="Edit operation">
    </P>
  </form>
{% else %}
    <p>You must be <a href="{{ url_for('to_login') }}">logged in</a> to edit the operation.</p>
{% endif %}
TODO: edit dimension

</fieldset>

<fieldset>
  <legend>
    <H2>Delete operation \( {{ operation_dict['latex'] }} \)</H2>
  </legend>
{% if current_user.is_authenticated %}
<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_no_options.csrf_token }}
  <P>

  <input type="submit" value="Delete operation">

</form>
{% else %}
    <p>You must be <a href="{{ url_for('to_login') }}">logged in</a> to delete the operation.</p>
{% endif %}
</fieldset>

{% if list_of_expression_dicts|length > 0 %}
<P>Here are expressions in which \( {{ operation_dict['latex'] }} \) appears:
{% include 'jinja2_pages/reusable_components/_table_of_expressions_mini.html' %}
{% else %}
<P>This Operation appears in no Expressions.</P>
{% endif %}

{% endblock %}
