{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=symbol_operation_list">navigation page</a>
</P>

{% if list_of_operations|length > 0 %}

<fieldset>
  <legend>
    <H2>List of <a href="https://en.wikipedia.org/wiki/Operation_(mathematics)">Operations</a></h2>
  </legend>

  <P><label for="searchbox">Case-insensitive fuzzy Search:</label>
  <input type="text" id="searchbox" name="search" placeholder="Look for" size="100">


  <P>The operation ID links to a page where you can edit the operation<BR>

  <button onclick="exportTableToCSV(&#39;table_to_search&#39;, &#39;operations.csv&#39;)">Export Table To CSV File</button>


  <P>{% include 'jinja2_pages/reusable_components/_table_of_symbols_operation.html' %}

</fieldset>

{% endif %}

<fieldset>
  <legend><H2>Actions for operations:</H2></legend>
  <UL>
    <LI><a href="{{ url_for('to_add_operation') }}?referrer=symbol_operation_list">add new operation</a></LI>
  </UL>
</fieldset>


{% endblock %}
