{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=symbol_relation_list">navigation page</a>
</P>

{% if list_of_relations|length > 0 %}

<fieldset>
<legend>
  <H2>List of relations</h2>
</legend>

<!-- https://www.w3schools.com/howto/howto_js_filter_lists.asp -->
Case-insensitive dynamic search of latex as plain text: <input type="text" id="latex_input" onkeyup="latex_filter()" placeholder="Search latex (plain text)" size="50">


<P>The relation ID links to a page where you can edit the relation<BR>

<button onclick="exportTableToCSV(&#39;table_to_search&#39;, &#39;relations.csv&#39;)">Export HTML Table To CSV File</button>


<P>{% include 'jinja2_pages/reusable_components/_table_of_symbols_relation.html' %}

</fieldset>

{% endif %}

<fieldset>
<legend><H2>Actions for relations</H2></legend>
<UL>
  <LI><a href="{{ url_for('to_add_relation') }}?referrer=symbol_relation_list">add new relation</a></LI>
</UL>
</fieldset>


{% endblock %}
