{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}
{% include "jinja2_pages/reusable_components/_login_toptable.html" %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=symbol_matrix_edit">navigation page</a>
  or return to <a href="{{ url_for('to_list_matrices') }}?referrer=symbol_matrix_edit">list of all matrices</a>
</P>

<P>matrix dict: {{ matrix_dict }}

<P>TODO: list of derivations that use this matrix

<fieldset>
  <legend>
    <H2>Edit matrix \( {{ matrix_dict['latex'] }} \)</h2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_matrix_properties.csrf_token }}
    <P>
      {{ form_matrix_properties.matrix_latex.label}}: 
           {{ form_matrix_properties.matrix_latex(size=50, 
                                pattern="^[\x20-\x7F]+$", 
                                id="input_latex",
                                oninput="validateASCII(this)", 
                                                   maxlength=1000, 
                                                   livePreview('input_latex', null, null, 'render_input_latex');
                                                   value=matrix_dict['latex']|e) }} <BR/>
<div id="render_input_latex"></div>
      &nbsp;<BR/>
      {{form_matrix_properties.matrix_name_latex.label }}: 
           {{ form_matrix_properties.matrix_name_latex(size=50,
                                    class_="latex-input", 
                                    data_target="matrix_name_latex_image",
                                    pattern="^[\x20-\x7F]+$", 
                                    oninput="validateASCII(this)",  
                                                      maxlength=1000, 
                                                      value=matrix_dict['name_latex']|e) }}<BR/>
<P><img id="matrix_name_latex_image" src="" alt="Latex input" style="display: none;">
      &nbsp;<BR/>
      {{form_matrix_properties.matrix_description_latex.label }}: 
           {{ form_matrix_properties.matrix_description_latex(size=50, 
                                    class_="latex-input", 
                                    data_target="matrix_description_latex_image",
                                    pattern="^[\x20-\x7F]+$", 
                                    oninput="validateASCII(this)", 
                                                              maxlength=1000, 
                                                              value=matrix_dict['description_latex']|e) }}<BR/>
<P><img id="matrix_description_latex_image" src="" alt="Latex input" style="display: none;">
      &nbsp;<BR/>
      {{form_matrix_properties.matrix_reference_latex.label }}: 
           {{ form_matrix_properties.matrix_reference_latex(size=50, 
                                    class_="latex-input", 
                                    data_target="matrix_reference_latex_image",
                                    pattern="^[\x20-\x7F]+$", 
                                    oninput="validateASCII(this)", 

                                                              maxlength=1000, 
                                                              value=matrix_dict['reference_latex']|e) }}<BR/>
<P><img id="matrix_reference_latex_image" src="" alt="Latex input" style="display: none;">
      &nbsp;<BR/>
      <input type="submit" value="Edit matrix">
    </P>
  </form>

TODO: edit dimension

</fieldset>

<fieldset>
  <legend>
    <H2>Delete matrix \( {{ matrix_dict['latex'] }} \)</H2>
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_no_options.csrf_token }}
  <P>

  <input type="submit" value="Delete matrix">

</form>
</fieldset>


{% if list_of_expression_dicts|length > 0 %}
<P>Here are expressions in which \( {{ matrix_dict['latex'] }} \) appears:{% include 'jinja2_pages/reusable_components/_table_of_expressions_mini.html' %}
{% else %}
<P>This Matrix appears in no Expressions.</P>
{% endif %}

{% endblock %}
