{% extends "jinja2_pages/reusable_components/_base.html" %}
{% include "jinja2_pages/reusable_components/_login_toptable.html" %}
{% block content %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=symbol_scalar_edit">navigation page</a>
  or return to <a href="{{ url_for('to_list_scalars') }}?referrer=symbol_scalar_edit">list of all scalar symbols</a>
</P>

<P>Scalar dict: {{ scalar_dict }}

<P>TODO: list of expressions that use this scalar

<fieldset>
  <legend>
    <H2>Edit scalar \( {{ scalar_dict['latex'] }} \)</h2>
  </legend>

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_symbol_properties.csrf_token }}
    <P>{{ form_symbol_properties.scalar_latex.label}}: 
             {{ form_symbol_properties.scalar_latex(size=50, 
                                                    maxlength=1000, 
                                                    value=scalar_dict['latex']|e) }} 
    
    <P>{{form_symbol_properties.scalar_name_latex.label }}: 
             {{ form_symbol_properties.scalar_name_latex(size=50, 
                                                         maxlength=1000, 
                                                         value=scalar_dict['name_latex']|e) }}
    
    <P>{{form_symbol_properties.scalar_description_latex.label }}: 
             {{ form_symbol_properties.scalar_description_latex(size=50, 
                                                                maxlength=1000, 
                                                                value=scalar_dict['description_latex']|e) }}

    <P>{{form_symbol_properties.scalar_reference_latex.label }}: 
             {{ form_symbol_properties.scalar_reference_latex(size=50, 
                                                              maxlength=1000, 
                                                              value=scalar_dict['reference_latex']|e) }}

    <P><input type="submit" name="edit scalar" value="Edit scalar">
    </P>
  </form>

TODO: edit dimension

</fieldset>

<fieldset>
  <legend>
    <H2>Delete scalar  \( {{ scalar_dict['latex']|e }} \)</H2>
  </legend>

<form method="post" action="" onsubmit="return checkForm(this);">
  {{ form_no_options.csrf_token }}
  <P>

  <input type="submit" name="delete scalar" value="Delete scalar">

</form>
</fieldset>


{% if list_of_expression_dicts|length > 0 %}
<P>Here are expressions in which \( {{ scalar_dict['latex'] }} \) appears:
{% include 'jinja2_pages/reusable_components/_table_of_expressions_mini.html' %}
{% else %}
<P>This Scalar appears in no Expressions.</P>
{% endif %}


{% endblock %}
