{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}

<P>Return to <a href="{{ url_for('to_navigation') }}?referrer=symbol_scalar_constant_value_list">navigation page</a></P>

<P>See also Wikipedia's <a href="https://en.wikipedia.org/wiki/Glossary_of_mathematical_symbols">list of symbols</a></P>

<!--
<P>All symbols:
{ % for symbol_dict in list_of_symbol_dicts %}
<UL>
  <LI>{ { symbol_dict }}</LI>
</UL>
{ % endfor %}
-->


<fieldset>
  <legend>
    <H2 id="scalar">There are {{ list_of_value_dicts|length }} values for constant \({{ scalar_dict['latex'] }}\)</h2>
  </legend>

  <P>{{ scalar_dict['latex'] }}

  <P>The ID links to a page where you can edit the value and units<BR>

  {% include 'jinja2_pages/reusable_components/_table_of_values_and_units.html' %}

</fieldset>


<fieldset>
  <legend>
    <H2 id="action">Actions for Constant values</h2>
  </legend>

  <P><a href="{{ url_for('to_add_value_and_units',scalar_id=scalar_dict['id']) }}?referrer=symbol_scalar_constant_value_list">add new value</a> to this constant.

</fieldset>


{% endblock %}
