{% extends "jinja2_pages/reusable_components/_base.html" %}
{% block content %}
{% include "jinja2_pages/reusable_components/_login_toptable.html" %}

<P>
  Return to <a href="{{ url_for('to_navigation') }}?referrer=symbol_relation_create">navigation page</a>
  or return to <a href="{{ url_for('to_list_relations') }}?referrer=symbol_relation_create">list of relations</a>
</P>

<fieldset>
  <legend>
    <H2>Create relation</H2>
  </legend>

<P>TODO: as user is entering symbol, filter the list of existing symbols.
  That way the user can recognize collisions.

  <form method="post" action="" onsubmit="return checkForm(this);">
    {{ form_relation_properties.csrf_token }}

    <P>{{ form_relation_properties.relation_latex.label}} (<B>required</B>): 
       {{ form_relation_properties.relation_latex(size=50, 
                                type="text",
                                pattern="^[\x20-\x7F]+$", 
                                oninput="validateASCII(this); livePreview('input_latex', null, null, 'output_input_latex');", 
                      minlength=1, 
                      maxlength=1000,
                      id="input_latex;") }}</P>
    

        <div id="output_input_latex"></div>


    <P>{{ form_relation_properties.relation_name_latex.label }} (<B>required</B>): 
       {{ form_relation_properties.relation_name_latex(size=50, 
                                pattern="^[\x20-\x7F]+$", 
                                oninput="validateASCII(this)", 
                        class_="latex-input", 
                        data_target="relation_name_latex_image",
                                                       maxlength=1000) }}</p>
    <P><img id="relation_name_latex_image" src="" alt="Latex input" style="display: none;">

    <P>{{form_relation_properties.relation_description_latex.label }} (<small><em>optional</em></small>):  
       {{ form_relation_properties.relation_description_latex(size=50, 
                                pattern="^[\x20-\x7F]+$", 
                                oninput="validateASCII(this)", 
                        class_="latex-input", 
                        data_target="relation_description_latex_image",
                                                              maxlength=1000) }}</p>
<P><img id="relation_description_latex_image" src="" alt="Latex input" style="display: none;">

    <P>{{ form_relation_properties.relation_reference_latex.label }} (<small><em>optional</em></small>): 
       {{ form_relation_properties.relation_reference_latex(size=100,
                                pattern="^[\x20-\x7F]+$", 
                                oninput="validateASCII(this)", 
                        class_="latex-input", 
                        data_target="relation_reference_latex_image",
                                                            maxlength=1000) }}</p>
<P><img id="relation_reference_latex_image" src="" alt="Latex input" style="display: none;">

      <input type="submit" name="new relation" value="add relation">
    </P>
  </form>
</fieldset>

{% if list_of_relations|length > 0 %}
<P>{% include 'jinja2_pages/reusable_components/_table_of_symbols_relation.html' %}
{% endif %}



{% endblock %}
